<h2><tmpl_var name="head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_language_import">
  
    <div class="pnl_formsarea">
        <fieldset class="inlineLabels"><legend>{tmpl_var name="legend_txt"}</legend>
            <div class="ctrlHolder">
                <p class="label">Database Hostname</p>
                <div class="multiField">
                    <input id="db_hostname" type="text" value="{tmpl_var name='db_hostname'}" name="db_hostname" />
                </div>
            </div>
			<div class="ctrlHolder">
                <p class="label">Database Name</p>
                <div class="multiField">
                    <input id="db_name" type="text" value="{tmpl_var name='db_name'}" name="db_name" />
                </div>
            </div>
            <div class="ctrlHolder">
                <p class="label">Database User</p>
                <div class="multiField">
                    <input id="db_user" type="text" value="{tmpl_var name='db_user'}" name="db_user" />
                </div>
            </div>
            <div class="ctrlHolder">
                <p class="label">Database password</p>
                <div class="multiField">
                    <input id="db_password" type="text" value="{tmpl_var name='db_password'}" name="db_password" />
                </div>
            </div>
			<div class="ctrlHolder">
                <p class="label">Server ID of local mailserver</p>
                <div class="multiField">
                    <input id="local_server_id" type="text" value="{tmpl_var name='local_server_id'}" name="local_server_id" />
                </div>
            </div>
        </fieldset>
    </div>
	 
    <tmpl_if name="msg">
        <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
    </tmpl_if>
    <tmpl_if name="error">
        <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
    </tmpl_if>
	
    <input type="hidden" name="remote_session_id" value="{tmpl_var name='remote_session_id'}">
        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="Import" onClick="submitForm('pageForm','tools/import_vpopmail.php');"><span>{tmpl_var name="btn_start_txt"}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="Cancel" onClick="loadContent('tools/index.php');"><span>{tmpl_var name="btn_cancel_txt"}</span></button>
        </div>
  </div>