user = {mysql_server_ispconfig_user}
password = {mysql_server_ispconfig_password}
dbname = {mysql_server_database}
table = mail_relay_recipient
select_field = access
where_field = source
additional_conditions = and active = 'y' and server_id = {server_id}
hosts = {mysql_server_ip}