# Here come the local changes the user made, like configuration of
# the several backends that exist.

launch=gmysql

gmysql-host={mysql_server_host}
gmysql-user={mysql_server_ispconfig_user}
gmysql-password={mysql_server_ispconfig_password}
gmysql-dbname={powerdns_database}
