[{fpm_pool}]

listen = {fpm_socket}
listen.owner = {fpm_user}
listen.group = {fpm_group}
listen.mode = 0660

user = {fpm_user}
group = {fpm_group}

pm = dynamic
pm.max_children = 10
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 5

chdir = /

php_admin_value[session.save_path] = /usr/local/ispconfig/server/temp
php_admin_flag[magic_quotes_gpc] = off