[global]

[admin]

[client]

[dns]

[mail]
mailboxlist_webmail_link=y
webmail_url=

[monitor]

[sites]
dbname_prefix=c[CLIENTID]
dbuser_prefix=c[CLIENTID]
ftpuser_prefix=[CLIENTNAME]
shelluser_prefix=[CLIENTNAME]
webdavuser_prefix=[CLIENTNAME]
dblist_phpmyadmin_link=y
phpmyadmin_url=
webftp_url=

[tools]

[domains]
use_domain_module=n
new_domain_html=Please contact our support to create a new domain for you.

[misc]
dashboard_atom_url=http://www.ispconfig.org/atom
monitor_key=
