[global]

[admin]

[client]

[dns]

[mail]
mailboxlist_webmail_link=y

[monitor]

[sites]
dbname_prefix=c[CLIENTID]
dbuser_prefix=c[CLIENTID]
ftpuser_prefix=[CLIENTNAME]
shelluser_prefix=[CLIENTNAME]
dblist_phpmyadmin_link=y

[tools]