[global]

[admin]

[client]

[dns]

[mail]
mailboxlist_webmail_link=y

[monitor]

[sites]
dbname_prefix=[CLIENTNAME]
dbuser_prefix=[CLIENTNAME]
ftpuser_prefix=[CLIENTNAME]
shelluser_prefix=[CLIENTNAME]
dblist_phpmyadmin_link=y

[tools]