<h2><tmpl_var name="title"></h2>

<div class="panel">

  <div class="pnl_toolsarea">
    <fieldset><legend><tmpl_var name="monTransRefreshsq"></legend>
      <div class="buttons">
        <select name="refreshinterval" id="refreshinterval" onChange="loadContentRefresh('monitor/show_sys_state.php?state={tmpl_var name="state_type"}')">{tmpl_var name="refresh"}</select>
      </div>
    </fieldset>
  </div>

  <div class="pnl_formarea">
    <fieldset><legend></legend>
      <div class="stateview"><tmpl_var name="state_data"></div>
    </fieldset>
  </div>

</div>
