<h2><tmpl_var name="title"></h2>

<div class="panel panel_logview">

  <div class="pnl_toolsarea">
    <fieldset><legend>Tools</legend>
      <div class="buttons">
        <select name="refreshinterval" id="refreshinterval" onChange="loadContentRefresh('monitor/show_log.php?log={tmpl_var name="log_id"}')">{tmpl_var name="refresh"}</select>
      </div>
    </fieldset>
  </div>

  <div class="pnl_formarea">
    <fieldset><legend>Data from: <tmpl_var name="time"></legend>
      <div class="codeview"><tmpl_var name="log_data"></div>
    </fieldset>
  </div>

</div>
