<div class="frmTextHead"><tmpl_var name="header_txt"></div><br />
<table width="500" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="name_txt">:</td>
    <td width="366" class="frmText11"><input name="module[name]" type="text" class="text" value="{tmpl_var name='name'}" size="30" maxlength="50" {tmpl_var name='readonly'}></td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="title_txt">:</td>
    <td width="366" class="frmText11"><input name="module[title]" type="text" class="text" value="{tmpl_var name='title'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="template_txt">:</td>
    <td width="366" class="frmText11"><input name="module[template]" type="text" class="text" value="{tmpl_var name='template'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="navframe_txt">:</td>
    <td width="366" class="frmText11"><input name="module[navframe_page]" type="text" class="text" value="{tmpl_var name='navframe_page'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="startpage_txt">:</td>
    <td width="366" class="frmText11"><input name="module[startpage]" type="text" class="text" value="{tmpl_var name='startpage'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="tab_width_txt">:</td>
    <td width="366" class="frmText11"><input name="module[tab_width]" type="text" class="text" value="{tmpl_var name='tab_width'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td colspan="2" class="frmText11">&nbsp;<inp</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input name="Speichern" type="button" class="button" value="{tmpl_var name='save_txt'}" onClick="submitForm('pageForm','designer/module_edit.php');"><div class="buttonEnding"></div>
      <input name="Abbrechen" type="button" class="button" value="{tmpl_var name='cancel_txt'}" onClick="loadContent('designer/module_list.php');"><div class="buttonEnding"></div>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="frmText11"><tmpl_var name="description_txt"></td>
  </tr>
  <tr>
    <td colspan="2" class="frmText11">&nbsp;</td>
  </tr>
</table>
<input type="hidden" name="id" value="{tmpl_var name='id'}">