<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tmpl_if name="form_hint">
  <tr>
    <td class="frmText11"><tmpl_var name="form_hint"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  </tmpl_if>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
	    <td width="2" class="frmTab">&nbsp;</td>
		<tmpl_loop name="formTab">
		<tmpl_if name="active">
        <td width="<tmpl_var name='width'>" align="center" class="frmTabSelected"><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')" class="frmText11"><tmpl_var name='title'></a></td>
        <td width="2" class="frmTab">&nbsp;</td>
		<tmpl_else>
        <td width="<tmpl_var name='width'>" class="frmTabDefault"><a href="javascript:changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')" class="frmText11"><tmpl_var name='title'></a></td>
        <td width="2" class="frmTab">&nbsp;</td>
		</tmpl_if>
		</tmpl_loop>
        <td class="frmTab">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tmpl_if name="error">
  <tr>
    <td class="error"><tmpl_var name="error"></td>
  </tr>
  </tmpl_if>
  <tr>
    <td>
		<tmpl_dyninclude name="content_tpl">
	</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="tblFooter">&nbsp;</td>
  </tr>
</table>
<input type="hidden" name="next_tab" value="">
<input type="hidden" name="phpsessid" value="{tmpl_var name='phpsessid'}">