<h2><tmpl_var name="list_head_txt"></h2>

<div class="panel panel_client">

  <div class="pnl_formsarea">
    <fieldset id="wf_area_client"><legend>Client-Template</legend>
      <span class="wf_oneField">
        <label for="template_master" class="wf_preField">{tmpl_var name='template_master_txt'}</label>
        <select id="template_master" name="template_master">{tmpl_var name='template_master'}</select>
      </span>
    </fieldset>
    <fieldset id="wf_area_client"><legend>Additional-Templates</legend>
      <span class="wf_oneField">
        <select id="tpl_add_select" name="tpl_add_select">{tmpl_var name='tpl_add_select'}</select>
      </span>
	  <span id="template_additional_list">{tmpl_var name='template_additional_list'}</span>
      <input type="hidden" id="template_additional" name="template_additional" value="{tmpl_var name='template_additional'}">
	    <div class="wf_actions buttons">
          <button class="positive iconstxt icoAdd" type="button" value="Add additional template" onClick="addAdditionalTemplate();"><span>Add additional template</span></button>
          <button class="negative iconstxt icoDelete" type="button" value="Delete additional template" onClick="delAdditionalTemplate();"><span>Delete additional template</span></button>
		</div>
    </fieldset>
    <fieldset id="wf_area_client"><legend>Limits</legend>
      <span class="wf_oneField">
        <label for="default_mailserver" class="wf_preField">{tmpl_var name='default_mailserver_txt'}</label>
        <select id="default_mailserver" name="default_mailserver">{tmpl_var name='default_mailserver'}</select>
      </span>
      <span class="wf_oneField">
        <label for="limit_maildomain" class="wf_preField">{tmpl_var name='limit_maildomain_txt'}</label>
        <input type="text" id="limit_maildomain" name="limit_maildomain" value="{tmpl_var name='limit_maildomain'}" size="10" maxlength="10">
      </span>
      <span class="wf_oneField">
        <label for="limit_mailbox" class="wf_preField">{tmpl_var name='limit_mailbox_txt'}</label>
        <input type="text" id="limit_mailbox" name="limit_mailbox" value="{tmpl_var name='limit_mailbox'}" size="10" maxlength="10">
      </span>
      <span class="wf_oneField">
        <label for="limit_mailalias" class="wf_preField">{tmpl_var name='limit_mailalias_txt'}</label>
        <input type="text" id="limit_mailalias" name="limit_mailalias" value="{tmpl_var name='limit_mailalias'}" size="10" maxlength="10">
      </span>
      <span class="wf_oneField">
        <label for="limit_mailforward" class="wf_preField">{tmpl_var name='limit_mailforward_txt'}</label>
        <input type="text" id="limit_mailforward" name="limit_mailforward" value="{tmpl_var name='limit_mailforward'}" size="10" maxlength="10">
      </span>
      <span class="wf_oneField">
        <label for="limit_mailcatchall" class="wf_preField">{tmpl_var name='limit_mailcatchall_txt'}</label>
        <input type="text" id="limit_mailcatchall" name="limit_mailcatchall" value="{tmpl_var name='limit_mailcatchall'}" size="10" maxlength="10">
      </span>
      <span class="wf_oneField">
        <label for="limit_mailrouting" class="wf_preField">{tmpl_var name='limit_mailrouting_txt'}</label>
        <input type="text" id="limit_mailrouting" name="limit_mailrouting" value="{tmpl_var name='limit_mailrouting'}" size="10" maxlength="10">
      </span>
      <span class="wf_oneField">
        <label for="limit_mailfilter" class="wf_preField">{tmpl_var name='limit_mailfilter_txt'}</label>
        <input type="text" id="limit_mailfilter" name="limit_mailfilter" value="{tmpl_var name='limit_mailfilter'}" size="10" maxlength="10">
      </span>
      <span class="wf_oneField">
        <label for="limit_fetchmail" class="wf_preField">{tmpl_var name='limit_fetchmail_txt'}</label>
        <input type="text" id="limit_fetchmail" name="limit_fetchmail" value="{tmpl_var name='limit_fetchmail'}" size="10" maxlength="10">
      </span>
      <span class="wf_oneField">
        <label for="limit_mailquota" class="wf_preField">{tmpl_var name='limit_mailquota_txt'}</label>
        <input type="text" id="limit_mailquota" name="limit_mailquota" value="{tmpl_var name='limit_mailquota'}" size="10" maxlength="10">
      </span>
      <span class="wf_oneField">
        <label for="limit_spamfilter_wblist" class="wf_preField">{tmpl_var name='limit_spamfilter_wblist_txt'}</label>
        <input type="text" id="limit_spamfilter_wblist" name="limit_spamfilter_wblist" value="{tmpl_var name='limit_spamfilter_wblist'}" size="10" maxlength="10">
      </span>
      <span class="wf_oneField">
        <label for="limit_spamfilter_user" class="wf_preField">{tmpl_var name='limit_spamfilter_user_txt'}</label>
        <input type="text" id="limit_spamfilter_user" name="limit_spamfilter_user" value="{tmpl_var name='limit_spamfilter_user'}" size="10" maxlength="10">
      </span>
      <span class="wf_oneField">
        <label for="limit_spamfilter_policy" class="wf_preField">{tmpl_var name='limit_spamfilter_policy_txt'}</label>
        <input type="text" id="limit_spamfilter_policy" name="limit_spamfilter_policy" value="{tmpl_var name='limit_spamfilter_policy'}" size="10" maxlength="10">
      </span>
      <span class="wf_oneField">
        <label for="default_webserver" class="wf_preField">{tmpl_var name='default_webserver_txt'}</label>
        <select id="default_webserver" name="default_webserver">{tmpl_var name='default_webserver'}</select>
      </span>
      <span class="wf_oneField">
        <label for="limit_web_domain" class="wf_preField">{tmpl_var name='limit_web_domain_txt'}</label>
        <input type="text" id="limit_web_domain" name="limit_web_domain" value="{tmpl_var name='limit_web_domain'}" size="10" maxlength="10">
      </span>
      <span class="wf_oneField">
        <label for="limit_web_aliasdomain" class="wf_preField">{tmpl_var name='limit_web_aliasdomain_txt'}</label>
        <input type="text" id="limit_web_aliasdomain" name="limit_web_aliasdomain" value="{tmpl_var name='limit_web_aliasdomain'}" size="10" maxlength="10">
      </span>
      <span class="wf_oneField">
        <label for="limit_web_subdomain" class="wf_preField">{tmpl_var name='limit_web_subdomain_txt'}</label>
        <input type="text" id="limit_web_subdomain" name="limit_web_subdomain" value="{tmpl_var name='limit_web_subdomain'}" size="10" maxlength="10">
      </span>
      <span class="wf_oneField">
        <label for="limit_ftp_user" class="wf_preField">{tmpl_var name='limit_ftp_user_txt'}</label>
        <input type="text" id="limit_ftp_user" name="limit_ftp_user" value="{tmpl_var name='limit_ftp_user'}" size="10" maxlength="10">
      </span>
      <span class="wf_oneField">
        <label for="limit_shell_user" class="wf_preField">{tmpl_var name='limit_shell_user_txt'}</label>
        <input type="text" id="limit_shell_user" name="limit_shell_user" value="{tmpl_var name='limit_shell_user'}" size="10" maxlength="10">
      </span>
      <span class="wf_oneField">
        <label for="default_dnsserver" class="wf_preField">{tmpl_var name='default_dnsserver_txt'}</label>
        <select id="default_dnsserver" name="default_dnsserver">{tmpl_var name='default_dnsserver'}</select>
      </span>
      <span class="wf_oneField">
        <label for="limit_dns_zone" class="wf_preField">{tmpl_var name='limit_dns_zone_txt'}</label>
        <input type="text" id="limit_dns_zone" name="limit_dns_zone" value="{tmpl_var name='limit_dns_zone'}" size="10" maxlength="10">
      </span>
      <span class="wf_oneField">
        <label for="limit_dns_record" class="wf_preField">{tmpl_var name='limit_dns_record_txt'}</label>
        <input type="text" id="limit_dns_record" name="limit_dns_record" value="{tmpl_var name='limit_dns_record'}" size="10" maxlength="10">
      </span>
      <span class="wf_oneField">
        <label for="limit_client" class="wf_preField">{tmpl_var name='limit_client_txt'}</label>
        <input type="text" id="limit_client" name="limit_client" value="{tmpl_var name='limit_client'}" size="10" maxlength="10">
      </span>
      <span class="wf_oneField">
        <label for="default_dbserver" class="wf_preField">{tmpl_var name='default_dbserver_txt'}</label>
        <select id="default_dbserver" name="default_dbserver">{tmpl_var name='default_dbserver'}</select>
      </span>
      <span class="wf_oneField">
        <label for="limit_database" class="wf_preField">{tmpl_var name='limit_database_txt'}</label>
        <input type="text" id="limit_database" name="limit_database" value="{tmpl_var name='limit_database'}" size="10" maxlength="10">
      </span>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="wf_actions buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','client/client_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('client/client_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
