<table width="500" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td><h2>Email</h2></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='default_mailserver_txt'}:</td>
    <td class="frmText11">
		<select name="default_mailserver" class="text">
			{tmpl_var name='default_mailserver'}
		</select>
	</td>
  </tr>
  <tr>
    <td class="frmText11" width="280">{tmpl_var name='limit_maildomain_txt'}:</td>
    <td class="frmText11" width="220"><input name="limit_maildomain" type="text" class="text" value="{tmpl_var name='limit_maildomain'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='limit_mailbox_txt'}:</td>
    <td class="frmText11"><input name="limit_mailbox" type="text" class="text" value="{tmpl_var name='limit_mailbox'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='limit_mailalias_txt'}:</td>
    <td class="frmText11"><input name="limit_mailalias" type="text" class="text" value="{tmpl_var name='limit_mailalias'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='limit_mailforward_txt'}:</td>
    <td class="frmText11"><input name="limit_mailforward" type="text" class="text" value="{tmpl_var name='limit_mailforward'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='limit_mailcatchall_txt'}:</td>
    <td class="frmText11"><input name="limit_mailcatchall" type="text" class="text" value="{tmpl_var name='limit_mailcatchall'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='limit_mailrouting_txt'}:</td>
    <td class="frmText11"><input name="limit_mailrouting" type="text" class="text" value="{tmpl_var name='limit_mailrouting'}" size="10" maxlength="10"></td>
  </tr>
  <!--
  <tr>
    <td class="frmText11">{tmpl_var name='limit_mailfilter_txt'}:</td>
    <td class="frmText11"><input name="limit_mailfilter" type="text" class="text" value="{tmpl_var name='limit_mailfilter'}" size="10" maxlength="10"></td>
  </tr>
  -->
  <tr>
    <td class="frmText11">{tmpl_var name='limit_fetchmail_txt'}:</td>
    <td class="frmText11"><input name="limit_fetchmail" type="text" class="text" value="{tmpl_var name='limit_fetchmail'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='limit_mailquota_txt'}:</td>
    <td class="frmText11"><input name="limit_mailquota" type="text" class="text" value="{tmpl_var name='limit_mailquota'}" size="10" maxlength="10"> MB</td>
  </tr>
  <tr>
    <td><h2>Spamfilter</h2></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='limit_spamfilter_wblist_txt'}:</td>
    <td class="frmText11"><input name="limit_spamfilter_wblist" type="text" class="text" value="{tmpl_var name='limit_spamfilter_wblist'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='limit_spamfilter_user_txt'}:</td>
    <td class="frmText11"><input name="limit_spamfilter_user" type="text" class="text" value="{tmpl_var name='limit_spamfilter_user'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='limit_spamfilter_policy_txt'}:</td>
    <td class="frmText11"><input name="limit_spamfilter_policy" type="text" class="text" value="{tmpl_var name='limit_spamfilter_policy'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td><h2>Websites</h2></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='default_webserver_txt'}:</td>
    <td class="frmText11">
		<select name="default_webserver" class="text">
			{tmpl_var name='default_webserver'}
		</select>
	</td>
  </tr>
  <tr>
    <td class="frmText11" width="280">{tmpl_var name='limit_web_domain_txt'}:</td>
    <td class="frmText11" width="220"><input name="limit_web_domain" type="text" class="text" value="{tmpl_var name='limit_web_domain'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td class="frmText11" width="280">{tmpl_var name='limit_web_subdomain_txt'}:</td>
    <td class="frmText11" width="220"><input name="limit_web_subdomain" type="text" class="text" value="{tmpl_var name='limit_web_subdomain'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td class="frmText11" width="280">{tmpl_var name='limit_web_aliasdomain_txt'}:</td>
    <td class="frmText11" width="220"><input name="limit_web_aliasdomain" type="text" class="text" value="{tmpl_var name='limit_web_aliasdomain'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td class="frmText11" width="280">{tmpl_var name='limit_ftp_user_txt'}:</td>
    <td class="frmText11" width="220"><input name="limit_ftp_user" type="text" class="text" value="{tmpl_var name='limit_ftp_user'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td class="frmText11" width="280">{tmpl_var name='limit_shell_user_txt'}:</td>
    <td class="frmText11" width="220"><input name="limit_shell_user" type="text" class="text" value="{tmpl_var name='limit_shell_user'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td><h2>DNS</h2></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='default_dnsserver_txt'}:</td>
    <td class="frmText11">
		<select name="default_dnsserver" class="text">
			{tmpl_var name='default_dnsserver'}
		</select>
	</td>
  </tr>
  <tr>
    <td class="frmText11" width="280">{tmpl_var name='limit_dns_zone_txt'}:</td>
    <td class="frmText11" width="220"><input name="limit_dns_zone" type="text" class="text" value="{tmpl_var name='limit_dns_zone'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td class="frmText11" width="280">{tmpl_var name='limit_dns_record_txt'}:</td>
    <td class="frmText11" width="220"><input name="limit_dns_record" type="text" class="text" value="{tmpl_var name='limit_dns_record'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td class="frmText11">&nbsp;</td>
    <td class="frmText11">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input name="btn_save" type="button" class="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','client/client_edit.php');"><div class="buttonEnding"></div>&nbsp;
      <input name="btn_cancel" type="button" class="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('client/client_list.php');"><div class="buttonEnding"></div>
    </td>
  </tr>
</table>
<input type="hidden" name="id" value="{tmpl_var name='id'}">