<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_client">

  <div class="pnl_formsarea">
    <fieldset class="inlineLabels"><legend>{tmpl_var name='circle_txt'}</legend>
      <div class="ctrlHolder">
      	<label for="circle_name">{tmpl_var name='circle_name_txt'}*</label>
        <input name="circle_name" id="circle_name" value="{tmpl_var name='circle_name'}" size="30" maxlength="255" type="text" class="textInput" />
	  </div>
	  <div class="ctrlHolder">
				<p class="label">{tmpl_var name='client_ids_txt'}</p>
				<div class="multiField">
						{tmpl_var name='client_ids'}
				</div>
	  </div>
	  <div class="ctrlHolder">
      	<label for="description">{tmpl_var name='description_txt'}</label>
        <textarea name="description" id="description" rows='10' cols='30'>{tmpl_var name='description'}</textarea>
      </div>
	  <div class="ctrlHolder">
				<p class="label">{tmpl_var name='active_txt'}</p>
				<div class="multiField">
					{tmpl_var name='active'}
				</div>
	  </div>
	  {tmpl_var name='required_fields_txt'}
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="buttonHolder buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','client/client_circle_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('client/client_circle_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
