<table width="500" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='limit_client_txt'}:</td>
    <td width="366" class="frmText11"><input name="limit_client" type="text" class="text" value="{tmpl_var name='limit_client'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='limit_domain_txt'}:</td>
    <td width="366" class="frmText11"><input name="limit_domain" type="text" class="text" value="{tmpl_var name='limit_domain'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='limit_subdomain_txt'}:</td>
    <td width="366" class="frmText11"><input name="limit_subdomain" type="text" class="text" value="{tmpl_var name='limit_subdomain'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='limit_mailbox_txt'}:</td>
    <td width="366" class="frmText11"><input name="limit_mailbox" type="text" class="text" value="{tmpl_var name='limit_mailbox'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='limit_mailalias_txt'}:</td>
    <td width="366" class="frmText11"><input name="limit_mailalias" type="text" class="text" value="{tmpl_var name='limit_mailalias'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='limit_webquota_txt'}:</td>
    <td width="366" class="frmText11"><input name="limit_webquota" type="text" class="text" value="{tmpl_var name='limit_webquota'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='limit_mailquota_txt'}:</td>
    <td width="366" class="frmText11"><input name="limit_mailquota" type="text" class="text" value="{tmpl_var name='limit_mailquota'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='limit_database_txt'}:</td>
    <td width="366" class="frmText11"><input name="limit_database" type="text" class="text" value="{tmpl_var name='limit_database'}" size="10" maxlength="10"></td>
  </tr>  <tr>
    <td class="frmText11">&nbsp;</td>
    <td class="frmText11">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input name="Speichern" type="submit" class="button" value="Speichern">
      <input name="Abbrechen" type="button" class="button" value="Abbrechen" onClick="self.location.href='reseller_list.php';">
    </td>
  </tr>
</table>
<input type="hidden" name="id" value="{tmpl_var name='id'}">