<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_spamfilter_blacklist">

    <div class="pnl_formsarea">
        <fieldset class="inlineLabels">
            <!--
                <div class="ctrlHolder">
                    <label for="server_id">{tmpl_var name='server_id_txt'}</label>
                    <select name="server_id" id="server_id" class="selectInput">
                                                    {tmpl_var name='server_id'}
                                            </select>
                </div>
            -->
            <div class="ctrlHolder">
                <label for="rid">{tmpl_var name='rid_txt'}</label>
                <select name="rid" id="rid" class="selectInput">
                    {tmpl_var name='rid'}
                </select>
            </div>
            <div class="ctrlHolder">
                <label for="email">{tmpl_var name='email_txt'}</label>
                <input name="email" id="email" value="{tmpl_var name='email'}" size="30" maxlength="255" type="text" class="textInput" />
            </div>
            <div class="ctrlHolder">
                <label for="priority">{tmpl_var name='priority_txt'}</label>
                <select name="priority" id="priority" class="selectInput formLengthHalf">
                    {tmpl_var name='priority'}
                </select>
            </div>
            <div class="ctrlHolder">
                <p class="label">{tmpl_var name='active_txt'}</p>
                <div class="multiField">
                    {tmpl_var name='active'}
                </div>
            </div>
        </fieldset>

        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <input type="hidden" name="wb" value="{tmpl_var name='wb'}">

        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','mail/spamfilter_blacklist_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('mail/spamfilter_blacklist_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>

</div>