<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>ISPConfig</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="themes/default/style.css" rel="stylesheet" type="text/css">
<script src="js/yui/yahoo/yahoo-min.js"></script>
<script src="js/yui/connection/connection-min.js"></script>
<script src="js/scrigo.js"></script>
</head>
<body bgcolor="#FFFFFF" leftmargin=0 topmargin=0 marginwidth=0 marginheight=0 onLoad="loadInitContent()">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr bgcolor="#496FA8">
    <td height="30" colspan="2" align="right" valign="top" background="themes/default/images/bg_nav_1.jpg"><!--<img src="themes/default/images/mydnsconfig_logo.gif" border="0" alt="">--></td>
  </tr>
  <tr>
    <td width="128" height="18" align="left" valign="middle" bgcolor="#496FA8"><img src="themes/default/images/login_logout.gif" width="115" height="10" border="0" usemap="#Map"><br>
    </td>
    <td height="18" align="left" valign="bottom" bgcolor="#496FA8"><div id="topNav">&nbsp;</div></td>
  </tr>
  <tr>
    <td width="128" height="26" background="themes/default/images/nav_top_bg.gif">&nbsp;</td>
    <td rowspan="3" class="mainContent"><form method="post" action="" id="pageForm" name="pageForm" enctype="multipart/form-data" style="margin:10px; width:99%; height:100%;"><div id="pageContent" style="width:100%; height:100%;"></div></form></td>
  </tr>
  <tr>
    <td width="128" align="right" valign="top" bgcolor="#DEE4F2"><div id="sideNav">&nbsp;</div></td>
  </tr>
  <tr>
    <td align="left" valign="bottom" bgcolor="#DEE4F2">&nbsp;</td>
  </tr>
</table>
<map name="Map">
  <area shape="rect" coords="66,1,106,19" href="login/logout.php?phpsessid=d4307711e9e4905b0bf590198a1fc4a5">
  <area shape="rect" coords="5,1,50,10" href="help/index.php?phpsessid=d4307711e9e4905b0bf590198a1fc4a5" target="content">
</map>
</body>
</html>