	<table width="100%" height="18" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <tmpl_loop name="nav_top">
        <tmpl_if name="active">
        <td width="{tmpl_var name='tab_width'}" class="navTopSelected"><a href="#" class="txtNavTopSelected"><tmpl_var name="title"></a></td>
        <tmpl_else>
        <td width="{tmpl_var name='tab_width'}" class="navTopDefault"><a href="#" onClick="capp('<tmpl_var name='module'>')" class="txtNavTopDefault"><tmpl_var name="title"></a></td>
        </tmpl_if>
        </tmpl_loop>
        <td align="right" valign="middle" class="navTop"><img src="themes/{tmpl_var name="theme"}/images/x.gif" width="123" height="1"> </td>
          </tr>
    </table>