[options]
# message_log = /var/log/getmail.log
message_log_syslog = 1
delete = {DELETE}

[retriever]
type = {TYPE}
server = {SERVER}
username = {USERNAME}
password = {PASSWORD}

[destination]
type = MDA_external
path = /usr/sbin/sendmail
arguments = ("-i", "-bm", "{DESTINATION}")
unixfrom = true