<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_domain">

  <div class="pnl_formsarea">
    <fieldset class="inlineLabels">
      <tmpl_if name="is_admin">
      <div class="ctrlHolder">
      	<label for="client_group_id">{tmpl_var name='client_group_id_txt'}</label>
        <select name="client_group_id" id="client_group_id" class="selectInput">
					{tmpl_var name='client_group_id'}
				</select>
      </div>
      </tmpl_if>

      <div class="ctrlHolder">
      	<label for="domain">{tmpl_var name='domain_txt'}</label>
        <input name="domain" id="domain" value="{tmpl_var name='domain'}" size="30" maxlength="255" type="text" class="textInput" />
        <p class="formHint">{tmpl_var name='domain_hint_txt'}</p>
			</div>
      <div class="ctrlHolder">
      	<label for="tld">{tmpl_var name='tld_txt'}</label>
        <select name="tld" id="tld" class="selectInput formLengthHalf">
					{tmpl_var name='tld'}
				</select>
      </div>
      <div class="ctrlHolder">
      	<label for="domain_provider_id">{tmpl_var name='domain_provider_id_txt'}</label>
        <select name="domain_provider_id" id="domain_provider_id" class="selectInput">
					{tmpl_var name='domain_provider_id'}
				</select>
      </div>
      <div class="ctrlHolder">
      	<label for="provider_domain_id">{tmpl_var name='provider_domain_id_txt'}</label>
        <input name="provider_domain_id" id="provider_domain_id" value="{tmpl_var name='provider_domain_id'}" size="30" maxlength="255" type="text" class="textInput formLengthHalf" />
			</div>
      <div class="ctrlHolder">
      	<label for="handle_desc">{tmpl_var name='handle_desc_txt'}</label>
        <select name="handle_desc" id="handle_desc" class="selectInput">
					{tmpl_var name='handle_desc'}
				</select>
      </div>
      <div class="ctrlHolder">
      	<label for="handle_admin_c">{tmpl_var name='handle_admin_c_txt'}</label>
        <select name="handle_admin_c" id="handle_admin_c" class="selectInput">
					{tmpl_var name='handle_admin_c'}
				</select>
      </div>
      <div class="ctrlHolder">
      	<label for="handle_tech_c">{tmpl_var name='handle_tech_c_txt'}</label>
        <select name="handle_tech_c" id="handle_tech_c" class="selectInput">
					{tmpl_var name='handle_tech_c'}
				</select>
      </div>
      <div class="ctrlHolder">
      	<label for="handle_zone_c">{tmpl_var name='handle_zone_c_txt'}</label>
        <select name="handle_zone_c" id="handle_zone_c" class="selectInput">
					{tmpl_var name='handle_zone_c'}
				</select>
      </div>
      <div class="ctrlHolder">
      	<label for="added_at">{tmpl_var name='added_at_txt'}</label>
        <input name="added_at" id="added_at" value="{tmpl_var name='added_at'}" size="30" maxlength="255" type="text" class="textInput formLengthHalf" disabled="disabled" />
        <p class="formHint">{tmpl_var name='date_hint_txt'}</p>
			</div>
      <div class="ctrlHolder">
      	<label for="connected_at">{tmpl_var name='connected_at_txt'}</label>
        <input name="connected_at" id="connected_at" value="{tmpl_var name='connected_at'}" size="30" maxlength="255" type="text" class="textInput formLengthHalf" />
        <p class="formHint">{tmpl_var name='date_hint_txt'}</p>
			</div>
      <div class="ctrlHolder">
      	<label for="disconnected_at">{tmpl_var name='disconnected_at_txt'}</label>
        <input name="disconnected_at" id="disconnected_at" value="{tmpl_var name='disconnected_at'}" size="30" maxlength="255" type="text" class="textInput formLengthHalf" />
        <p class="formHint">{tmpl_var name='date_hint_txt'}</p>
			</div>
      <div class="ctrlHolder">
      	<label for="status">{tmpl_var name='status_txt'}</label>
        <select name="status" id="status" class="selectInput formLengthHalf">
					{tmpl_var name='status'}
				</select>
      </div>

    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="buttonHolder buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','domain/domain_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('domain/domain_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
