<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_domain">

  <div class="pnl_formsarea">
    <fieldset class="inlineLabels">
      <div class="ctrlHolder">
      	<label for="domain">{tmpl_var name='domain_txt'}</label>
      	<tmpl_if name="edit_disabled">
        <input name="domain" id="domain" value="{tmpl_var name='domain'}" size="30" maxlength="255" type="text" class="textInput" disabled="disabled" />
		<tmpl_else>
        <input name="domain" id="domain" value="{tmpl_var name='domain'}" size="30" maxlength="255" type="text" class="textInput" />
		</tmpl_if>
      </div>
      <tmpl_if name="is_admin">
      <div class="ctrlHolder">
      	<label for="client_group_id">{tmpl_var name='client_txt'}</label>
      	<tmpl_if name="edit_disabled">
			<select name="client_group_id" id="client_group_id" class="selectInput" disabled="disabled">
					{tmpl_var name='client_group_id'}
				</select>
		<tmpl_else>
        <select name="client_group_id" id="client_group_id" class="selectInput">
					{tmpl_var name='client_group_id'}
				</select>
		</tmpl_if>
      </div>
		</tmpl_if>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">
    <input type="hidden" name="type" value="local">

    <div class="buttonHolder buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','domain/domain_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('domain/domain_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
