<div class="frmTextHead"><tmpl_var name="list_head_txt"></div><br />
<input type="button" value="{tmpl_var name="add_new_record_txt"}" class="button" onClick="loadContent('mail/mail_blacklist_edit.php');" /><div class="buttonEnding"></div><br /><br />
<table width="100%" border="0" cellspacing="0" cellpadding="4" class="listTable">
  <tr>
    <td class="tblHead"><tmpl_var name="active_txt"></td>
    <td class="tblHead"><tmpl_var name="server_id_txt"></td>
    <td class="tblHead"><tmpl_var name="source_txt"></td>
    <td class="tblHead"><tmpl_var name="type_txt"></td>
    <td class="tblHead">&nbsp;</td>
  </tr>
  <tr>
    <td class="frmText11"><select name="search_active" onChange="submitForm('pageForm','mail/mail_blacklist_list.php');">{tmpl_var name='search_active'}</select></td>
    <td class="frmText11"><select name="search_server_id" onChange="submitForm('pageForm','mail/mail_blacklist_list.php');">{tmpl_var name='search_server_id'}</select></td>
    <td class="frmText11"><input type="text" name="search_source" value="{tmpl_var name='search_source'}" class="text" /></td>
    <td class="frmText11"><select name="search_type" onChange="submitForm('pageForm','mail/mail_blacklist_list.php');">{tmpl_var name='search_type'}</select></td>
    <td class="frmText11" align="right"><input name="Filter" type="button" id="Filter" value="{tmpl_var name="filter_txt"}" class="button" onClick="submitForm('pageForm','mail/mail_blacklist_list.php');"><div class="buttonEnding"></div></td>
  </tr>
  <tmpl_loop name="records">
  <tr bgcolor="{tmpl_var name="bgcolor"}">
    <td class="frmText11"><a href="#" onClick="loadContent('mail/mail_blacklist_edit.php?id={tmpl_var name='id'}');" class="frmText11">{tmpl_var name="active"}</a></td>
    <td class="frmText11"><a href="#" onClick="loadContent('mail/mail_blacklist_edit.php?id={tmpl_var name='id'}');" class="frmText11">{tmpl_var name="server_id"}</a></td>
    <td class="frmText11"><a href="#" onClick="loadContent('mail/mail_blacklist_edit.php?id={tmpl_var name='id'}');" class="frmText11">{tmpl_var name="source"}</a></td>
    <td class="frmText11"><a href="#" onClick="loadContent('mail/mail_blacklist_edit.php?id={tmpl_var name='id'}');" class="frmText11">{tmpl_var name="type"}</a></td>
    <td class="frmText11" align="right">[<a href="javascript: del_record('mail/mail_blacklist_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}');" class="frmText11">{tmpl_var name='delete_txt'}</a>]</td>
  </tr>
  </tmpl_loop>

  <tr>
  	<td colspan="5" height="40" align="center" class="tblFooter"><tmpl_var name="paging"></td>
  </tr>
</table>