<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_mail_transport">

  <div class="pnl_formsarea">
    <fieldset class="inlineLabels"><legend>Email transport</legend>
      <div class="ctrlHolder">
      	<label for="server_id">{tmpl_var name='server_id_txt'}</label>
        <select name="server_id" id="server_id" class="selectInput">
					{tmpl_var name='server_id'}
				</select>
      </div>
      <div class="ctrlHolder">
      	<label for="domain">{tmpl_var name='domain_txt'}</label>
        <input name="domain" id="domain" value="{tmpl_var name='domain'}" size="30" maxlength="255" type="text" class="textInput" />
			</div>
			<div class="ctrlHolder">
      	<label for="type">{tmpl_var name='type_txt'}</label>
        <select name="type" id="type" class="selectInput formLengthHalf">
					{tmpl_var name='type'}
				</select>
      </div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='mx_txt'}</p>
					<div class="multiField">
						<input type="checkbox" value="y" id="mx" name="mx" {tmpl_var name='mx'} />
					</div>
			</div>
      <div class="ctrlHolder">
      	<label for="destination">{tmpl_var name='destination_txt'}</label>
        <input name="destination" id="transport" value="{tmpl_var name='destination'}" size="30" maxlength="255" type="text" class="textInput" />
			</div>
			<div class="ctrlHolder">
      	<label for="sort_order">{tmpl_var name='sort_order_txt'}</label>
        <select name="sort_order" id="sort_order" class="selectInput formLengthHalf">
					{tmpl_var name='sort_order'}
				</select>
      </div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='active_txt'}</p>
					<div class="multiField">
						{tmpl_var name='active'}
					</div>
			</div>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="buttonHolder buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','mail/mail_transport_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('mail/mail_transport_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
