<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_mail_domain">

  <div class="pnl_formsarea">
    <fieldset class="inlineLabels">
      <tmpl_if name="is_admin">
      <div class="ctrlHolder">
      	<tmpl_if name="edit_disabled">
		<label for="server_id_disabled">{tmpl_var name='server_id_txt'}</label>
		<select name="server_id_disabled" id="server_id_disabled" class="selectInput" disabled="disabled">
		  {tmpl_var name='server_id'}
		</select>
		<input type="hidden" name="server_id" value="{tmpl_var name='server_id_value'}" />
		<tmpl_else>
		<label for="server_id">{tmpl_var name='server_id_txt'}</label>
        <select name="server_id" id="server_id" class="selectInput">
		  {tmpl_var name='server_id'}
		</select>
		</tmpl_if>
      </div>
      <div class="ctrlHolder">
      	<label for="client_group_id">{tmpl_var name='client_txt'}</label>
        <select name="client_group_id" id="client_group_id" class="selectInput">
					{tmpl_var name='client_group_id'}
				</select>
      </div>
      </tmpl_if>
      
      <tmpl_if name="is_reseller">
      <div class="ctrlHolder">
      	<label for="client_group_id">{tmpl_var name='client_txt'}</label>
        <select name="client_group_id" id="client_group_id" class="selectInput">
					{tmpl_var name='client_group_id'}
				</select>
      </div>
      </tmpl_if>
      
      <div class="ctrlHolder">
      	<label for="domain">{tmpl_var name='domain_txt'}</label>
        <input name="domain" id="domain" value="{tmpl_var name='domain'}" size="30" maxlength="255" type="text" class="textInput" />
			</div>
      <div class="ctrlHolder">
      	<label for="policy">{tmpl_var name='policy_txt'}</label>
        <select name="policy" id="policy" class="selectInput">
					{tmpl_var name='policy'}
				</select>
      </div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='active_txt'}</p>
					<div class="multiField">
						{tmpl_var name='active'}
					</div>
			</div>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">
    <input type="hidden" name="type" value="local">

    <div class="buttonHolder buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','mail/mail_domain_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('mail/mail_domain_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
