<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_mail_user">

  <div class="pnl_formsarea">
    <fieldset class="inlineLabels">
      <div class="ctrlHolder">
      	<label for="autoresponder_text">{tmpl_var name='autoresponder_text_txt'}</label>
        <textarea name="autoresponder_text" id="autoresponder_text" rows='15' cols='30'>{tmpl_var name='autoresponder_text'}</textarea>
      </div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='autoresponder_txt'}</p>
					<div class="multiField">
					  <div class="ctrlHolder" style="margin-bottom: 5px;">
						<input type="checkbox" value="y" id="autoresponder" name="autoresponder" onclick="AR_ResetDates();" {tmpl_var name='ar_active'} />&nbsp;{tmpl_var name='autoresponder_active'}<br />
					  </div>

					  <p style="margin-bottom: 3px;">
					  <label for="autoresponder_start_date[day]" style="width: 55px;">{tmpl_var name='autoresponder_start_date_txt'}</label>
					  {tmpl_var name='autoresponder_start_date'}&nbsp;<a href="javascript:AR_SetNow();">{tmpl_var name='now_txt'}</a></p>
					  
					  <label for="password" style="width: 55px;">{tmpl_var name='autoresponder_end_date_txt'}</label>
					  {tmpl_var name='autoresponder_end_date'}				
					</div>
	 </div>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="buttonHolder buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','mail/mail_user_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('mail/mail_user_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
