<h2><tmpl_var name="list_head_txt"></h2>

<div class="panel panel_mail_transport">

  <div class="pnl_formsarea">
    <fieldset id="wf_area_mail_transport"><legend>Email transport</legend>
      <span class="wf_oneField">
        <label for="server_id" class="wf_preField">{tmpl_var name='server_id_txt'}</label>
        <select id="server_id" name="server_id">{tmpl_var name='server_id'}</select>
      </span>
      <span class="wf_oneField">
        <label for="domain" class="wf_preField">{tmpl_var name='domain_txt'}</label>
        <input type="text" id="domain" name="domain" value="{tmpl_var name='domain'}" size="30" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="type" class="wf_preField">{tmpl_var name='type_txt'}</label>
        <select id="type" name="type">{tmpl_var name='type'}</select>
      </span>
      <span class="wf_oneField">
        <label for="mx" class="wf_preField">{tmpl_var name='mx_txt'}</label>
        <input type="checkbox" id="mx" name="mx" value="y" {tmpl_var name='mx'}>
      </span>
      <span class="wf_oneField">
        <label for="destination" class="wf_preField">{tmpl_var name='destination_txt'}</label>
        <input type="text" id="destination" name="destination" value="{tmpl_var name='destination'}" size="30" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="sort_order" class="wf_preField">{tmpl_var name='sort_order_txt'}</label>
        <select id="sort_order" name="sort_order">{tmpl_var name='sort_order'}</select>
      </span>
      <span class="wf_oneField">
        <label for="active" class="wf_preField">{tmpl_var name='active_txt'}</label>
        <span class="">{tmpl_var name='active'}</span>
      </span>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="wf_actions buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','mail/mail_transport_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('mail/mail_transport_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
