<table width="500" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='email_txt'}:</td>
    <td width="366" class="frmText11"><input name="email_local_part" type="text" class="text" value="{tmpl_var name='email_local_part'}" size="10" maxlength="50"> @ <select name="email_domain">{tmpl_var name="email_domain"}</select></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='active_txt'}:</td>
    <td width="366" class="frmText11">{tmpl_var name='active'}</td>
  </tr>
   <tr>
    <td colspan="2" class="frmText11">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"  height="50" class="frmText11"><b>{tmpl_var name='spam_rewrite_txt'}</b></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='spam_rewrite_score_int_txt'}:</td>
    <td width="366" class="frmText11"><input name="spam_rewrite_score_int" type="text" class="text" value="{tmpl_var name='spam_rewrite_score_int'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='spam_rewrite_subject_txt'}:</td>
    <td width="366" class="frmText11"><input name="spam_rewrite_subject" type="text" class="text" value="{tmpl_var name='spam_rewrite_subject'}" size="30" maxlength="255"></td>
  </tr>
   <tr>
    <td colspan="2" class="frmText11">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"  height="50" class="frmText11"><b>{tmpl_var name='spam_redirect_txt'}</b></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='spam_redirect_score_int_txt'}:</td>
    <td width="366" class="frmText11"><input name="spam_redirect_score_int" type="text" class="text" value="{tmpl_var name='spam_redirect_score_int'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='spam_redirect_maildir_txt'}:</td>
    <td width="366" class="frmText11">
		<select name="spam_redirect_maildir" class="text">
			{tmpl_var name='spam_redirect_maildir'}
		</select>
	</td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='spam_redirect_maildir_purge_txt'}:</td>
    <td width="366" class="frmText11"><input name="spam_redirect_maildir_purge" type="text" class="text" value="{tmpl_var name='spam_redirect_maildir_purge'}" size="5" maxlength="10"> {tmpl_var name='days_txt'}</td>
  </tr>
   <tr>
    <td colspan="2" class="frmText11">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"  height="50" class="frmText11"><b>{tmpl_var name='spam_delete_txt'}</b></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='spam_delete_score_int_txt'}:</td>
    <td width="366" class="frmText11"><input name="spam_delete_score_int" type="text" class="text" value="{tmpl_var name='spam_delete_score_int'}" size="10" maxlength="10"></td>
  </tr>
  <tr>
    <td colspan="2"  height="50" class="frmText11">{tmpl_var name='disable_txt'}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input name="btn_save" type="submit" class="button" value="{tmpl_var name='btn_save_txt'}">
      <input name="btn_cancel" type="button" class="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="self.location.href='mail_spamfilter_list.php';">
    </td>
  </tr>
</table>
<input type="hidden" name="id" value="{tmpl_var name='id'}">