<h2><tmpl_var name="list_head_txt"></h2>

<div class="panel panel_mail_forward">

  <div class="pnl_formsarea">
    <fieldset id="wf_area_mail_forward"><legend>Email Forward</legend>
      <span class="wf_oneField">
        <label for="email_local_part" class="wf_preField">{tmpl_var name='email_txt'}</label>
        <input type="text" id="email_local_part" name="email_local_part" value="{tmpl_var name='email_local_part'}" size="10" maxlength="50"> @ 
        <select id="email_domain" name="email_domain">{tmpl_var name="email_domain"}</select>
      </span>
      <span class="wf_oneField">
        <label for="destination" class="wf_preField">{tmpl_var name='destination_txt'}</label>
        <input type="text" id="destination" name="destination" value="{tmpl_var name='destination'}" size="30" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="active" class="wf_preField">{tmpl_var name='active_txt'}</label>
        <span class="">{tmpl_var name='active'}</span>
      </span>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">
    <input type="hidden" name="type" value="forward">

    <div class="wf_actions buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','mail/mail_forward_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('mail/mail_forward_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
