<h2><tmpl_var name="list_head_txt"></h2>

<div class="panel panel_spamfilter_policy">

  <div class="pnl_formsarea">
    <fieldset id="wf_area_spamfilter_policy"><legend>Tag-Level</legend>
      <span class="wf_oneField">
        <label for="spam_tag_level" class="wf_preField">{tmpl_var name='spam_tag_level_txt'}</label>
        <input type="text" id="spam_tag_level" name="spam_tag_level" value="{tmpl_var name='spam_tag_level'}" size="10" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="spam_tag2_level" class="wf_preField">{tmpl_var name='spam_tag2_level_txt'}</label>
        <input type="text" id="spam_tag2_level" name="spam_tag2_level" value="{tmpl_var name='spam_tag2_level'}" size="10" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="spam_kill_level" class="wf_preField">{tmpl_var name='spam_kill_level_txt'}</label>
        <input type="text" id="spam_kill_level" name="spam_kill_level" value="{tmpl_var name='spam_kill_level'}" size="10" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="spam_dsn_cutoff_level" class="wf_preField">{tmpl_var name='spam_dsn_cutoff_level_txt'}</label>
        <input type="text" id="spam_dsn_cutoff_level" name="spam_dsn_cutoff_level" value="{tmpl_var name='spam_dsn_cutoff_level'}" size="10" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="spam_quarantine_cutoff_level" class="wf_preField">{tmpl_var name='spam_quarantine_cutoff_level_txt'}</label>
        <input type="text" id="spam_quarantine_cutoff_level" name="spam_quarantine_cutoff_level" value="{tmpl_var name='spam_quarantine_cutoff_level'}" size="10" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="spam_modifies_subj" class="wf_preField">{tmpl_var name='spam_modifies_subj_txt'}</label>
        <select id="spam_modifies_subj" name="spam_modifies_subj">{tmpl_var name='spam_modifies_subj'}</select>
      </span>
      <span class="wf_oneField">
        <label for="spam_subject_tag" class="wf_preField">{tmpl_var name='spam_subject_tag_txt'}</label>
        <input type="text" id="spam_subject_tag" name="spam_subject_tag" value="{tmpl_var name='spam_subject_tag'}" size="30" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="spam_subject_tag2" class="wf_preField">{tmpl_var name='spam_subject_tag2_txt'}</label>
        <input type="text" id="spam_subject_tag2" name="spam_subject_tag2" value="{tmpl_var name='spam_subject_tag2'}" size="30" maxlength="255">
      </span>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="wf_actions buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','mail/spamfilter_policy_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('mail/spamfilter_policy_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
