<h2><tmpl_var name="list_head_txt"></h2>

<div class="panel panel_spamfilter_users">

  <div class="pnl_formsarea">
    <fieldset id="wf_area_spamfilter_users"><legend>Users</legend>
      <span class="wf_oneField">
        <label for="server_id" class="wf_preField">{tmpl_var name='server_id_txt'}</label>
        <select id="server_id" name="server_id">{tmpl_var name='server_id'}</select>
      </span>
      <span class="wf_oneField">
        <label for="priority" class="wf_preField">{tmpl_var name='priority_txt'}</label>
        <select id="priority" name="priority">{tmpl_var name='priority'}</select>
      </span>
      <span class="wf_oneField">
        <label for="policy_id" class="wf_preField">{tmpl_var name='policy_id_txt'}</label>
        <select id="policy_id" name="policy_id">{tmpl_var name='policy_id'}</select>
      </span>
      <span class="wf_oneField">
        <label for="email" class="wf_preField">{tmpl_var name='email_txt'}</label>
        <input type="text" id="email" name="email" value="{tmpl_var name='email'}" size="30" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="fullname" class="wf_preField">{tmpl_var name='fullname_txt'}</label>
        <input type="text" id="fullname" name="fullname" value="{tmpl_var name='fullname'}" size="30" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="local" class="wf_preField">{tmpl_var name='local_txt'}</label>
        <select id="local" name="local">{tmpl_var name='local'}</select>
      </span>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="wf_actions buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','mail/spamfilter_users_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('mail/spamfilter_users_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
