<h2><tmpl_var name="list_head_txt"></h2>

<div class="panel panel_spamfilter_whitelist">

  <div class="pnl_formsarea">
    <fieldset id="wf_area_spamfilter_whitelist"><legend>Whitelist</legend>
<!--
      <span class="wf_oneField">
        <label for="server_id" class="wf_preField">{tmpl_var name='server_id_txt'}</label>
        <select id="server_id" name="server_id">{tmpl_var name='server_id'}</select>
      </span>
-->
      <span class="wf_oneField">
        <label for="rid" class="wf_preField">{tmpl_var name='rid_txt'}</label>
        <select id="rid" name="rid">{tmpl_var name='rid'}</select>
      </span>
      <span class="wf_oneField">
        <label for="email" class="wf_preField">{tmpl_var name='email_txt'}</label>
        <input type="text" id="email" name="email" value="{tmpl_var name='email'}" size="30" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="priority" class="wf_preField">{tmpl_var name='priority_txt'}</label>
        <select id="priority" name="priority">{tmpl_var name='priority'}</select>
      </span>
      <span class="wf_oneField">
        <label for="active" class="wf_preField">{tmpl_var name='active_txt'}</label>
        <span class="">{tmpl_var name='active'}</span>
      </span>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">
    <input type="hidden" name="wb" value="{tmpl_var name='wb'}">

    <div class="wf_actions buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','mail/spamfilter_whitelist_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('mail/spamfilter_whitelist_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
