<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_spamfilter_config">

  <div class="pnl_formsarea">
    <fieldset id="wf_area_spamfilter_config">
      <span class="wf_oneField">
        <label for="ip_address" class="wf_preField">{tmpl_var name='ip_address_txt'}</label>
        <input type="text" id="ip_address" name="ip_address" value="{tmpl_var name='ip_address'}" size="15" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="netmask" class="wf_preField">{tmpl_var name='netmask_txt'}</label>
        <input type="text" id="netmask" name="netmask" value="{tmpl_var name='netmask'}" size="15" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="gateway" class="wf_preField">{tmpl_var name='gateway_txt'}</label>
        <input type="text" id="gateway" name="gateway" value="{tmpl_var name='gateway'}" size="15" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="hostname" class="wf_preField">{tmpl_var name='hostname_txt'}</label>
        <input type="text" id="hostname" name="hostname" value="{tmpl_var name='hostname'}" size="40" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="nameservers" class="wf_preField">{tmpl_var name='nameservers_txt'}</label>
        <input type="text" id="nameservers" name="nameservers" value="{tmpl_var name='nameservers'}" size="40" maxlength="255">
      </span>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="wf_actions buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','mail/spamfilter_config_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('mail/spamfilter_config_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
