<h2>Login</h2>

<div class="panel panel_login">
  
  <tmpl_if name="error">
  <tmpl_var name="error">
  <div class="box box_support">
    <a href="#" onclick="loadContent('login/password_reset.php');">Password lost?</a>
  </div>
  </tmpl_if>
  
  <div class="pnl_formsarea">
    <fieldset id="wf_area_login">
      <span class="wf_oneField">
        <label for="username" class="wf_preField">Username:</label>
        <input type="text" id="username" name="username" value="" size="" class="wf_required" onkeypress="if (event.keyCode && event.keyCode == 13) {submitLoginForm('pageForm');};"><span class="wf_reqMark">*</span><br>
      </span>
      <span class="wf_oneField">
        <label for="passwort" class="wf_preField">Password:</label>
        <input type="password" id="passwort" name="passwort" value="" size="" class="wf_required" onkeypress="if (event.keyCode && event.keyCode == 13) {submitLoginForm('pageForm');};"><span class="wf_reqMark">*</span><br>
      </span>
    </fieldset>

    <input type="hidden" name="s_mod" value="login" />
    <input type="hidden" name="s_pg" value="index" />

    <div class="wf_actions buttons">
      <button class="positive iconstxt icoKey" type="button" value="{tmpl_var name="add_new_record_txt"}" onClick="submitLoginForm('pageForm');"><span>Login</span></button>
    </div>
  </div>

</div>