<div style="margin-top: 100px">
<table style="width: 248px; margin: 0px auto;" class="table">
  <tr>
    <th colspan="2">Login</th>
  </tr>
  <tmpl_if name="error">
  <tr>
    <td colspan="2"><tmpl_var name="error"></td>
  </tr>
  </tmpl_if>  
  <tr>
    <td>Username</td>
    <td><input name="username" type="text" id="username" class="text"></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><input name="passwort" type="password" id="passwort" class="text" onkeypress="if (event.keyCode && event.keyCode == 13) {submitLoginForm('pageForm');};"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="button" name="submit" id="submit" value="&nbsp;&nbsp;Login&nbsp;&nbsp;" class="button" onclick="submitLoginForm('pageForm');" ><div class="buttonEnding"></div>
    </td>
  </tr>
</table>
<input type="hidden" name="s_mod" value="login" />
<input type="hidden" name="s_pg" value="index" />
</div>