<h2>Password Reset</h2>

<div class="panel panel_password_reset">
  
  <tmpl_if name="message">
  <div class="box box_msg">
    <tmpl_var name="message"><br />
    <tmpl_var name="pass_reset_txt">
  </div>
  </tmpl_if>
  
  <div class="pnl_formsarea">
    <fieldset id="wf_area_password_reset">
      <span class="wf_oneField">
        <label for="email" class="wf_preField">E-Mail:</label>
        <input type="text" id="email" name="email" value="" size="" class="wf_required"><span class="wf_reqMark">*</span><br>
      </span>
      <span class="wf_oneField">
        <label for="username" class="wf_preField">Username:</label>
        <input type="text" id="username" name="username" value="" size="" class="wf_required"><span class="wf_reqMark">*</span><br>
      </span>
    </fieldset>
    
    <input type="hidden" name="s_mod" value="login" />
    <input type="hidden" name="s_pg" value="index" />
    
    <div class="wf_actions buttons">
      <button class="positive" type="button" value="{tmpl_var name="add_new_record_txt"}" onClick="submitForm('pageForm','login/password_reset.php');"><span>Resend password</span></button>
    </div>
  </div>
  
</div>