<div class="frmTextHead"><tmpl_var name="list_head_txt"></div><br />
<input type="button" value="{tmpl_var name="add_new_record_txt"}" class="button" onClick="loadContent('admin/dbsync_edit.php');" /><div class="buttonEnding"></div><br /><br />
<table width="100%" border="0" cellspacing="0" cellpadding="4" class="listTable">
  <tr>
    <td class="tblHead"><tmpl_var name="jobname_txt"></td>
    <td class="tblHead"><tmpl_var name="db_host_txt"></td>
    <td class="tblHead"><tmpl_var name="db_name_txt"></td>
    <td class="tblHead">&nbsp;</td>
  </tr>
  <tr>
    <td class="frmText11"><input type="text" name="search_jobname" value="{tmpl_var name='search_jobname'}" class="text" /></td>
    <td class="frmText11"><input type="text" name="search_db_host" value="{tmpl_var name='search_db_host'}" class="text" /></td>
    <td class="frmText11"><input type="text" name="search_db_name" value="{tmpl_var name='search_db_name'}" class="text" /></td>
    <td class="frmText11" align="right"><input name="Filter" type="button" id="Filter" value="{tmpl_var name="filter_txt"}" class="button" onClick="submitForm('pageForm','admin/dbsync_list.php');"><div class="buttonEnding"></div></td>
  </tr>
  <tmpl_loop name="records">
  <tr bgcolor="{tmpl_var name="bgcolor"}">
    <td class="frmText11"><a href="#" onClick="loadContent('admin/dbsync_edit.php?id={tmpl_var name='id'}');" class="frmText11">{tmpl_var name="jobname"}</a></td>
    <td class="frmText11"><a href="#" onClick="loadContent('admin/dbsync_edit.php?id={tmpl_var name='id'}');" class="frmText11">{tmpl_var name="db_host"}</a></td>
    <td class="frmText11"><a href="#" onClick="loadContent('admin/dbsync_edit.php?id={tmpl_var name='id'}');" class="frmText11">{tmpl_var name="db_name"}</a></td>
    <td class="frmText11" align="right">[<a href="javascript: del_record('admin/dbsync_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');" class="frmText11">{tmpl_var name='delete_txt'}</a>]</td>
  </tr>
  </tmpl_loop>

  <tr>
  	<td colspan="4" height="40" align="center" class="tblFooter"><tmpl_var name="paging"></td>
  </tr>
</table>