<table width="500" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='jobname_txt'}:</td>
    <td width="366" class="frmText11"><input name="jobname" type="text" class="text" value="{tmpl_var name='jobname'}" size="15" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='sync_interval_minutes_txt'}:</td>
    <td width="366" class="frmText11"><input name="sync_interval_minutes" type="text" class="text" value="{tmpl_var name='sync_interval_minutes'}" size="15" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='ftp_host_txt'}:</td>
    <td width="366" class="frmText11"><input name="ftp_host" type="text" class="text" value="{tmpl_var name='ftp_host'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='ftp_path_txt'}:</td>
    <td width="366" class="frmText11"><input name="ftp_path" type="text" class="text" value="{tmpl_var name='ftp_path'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='ftp_username_txt'}:</td>
    <td width="366" class="frmText11"><input name="ftp_username" type="text" class="text" value="{tmpl_var name='ftp_username'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='ftp_password_txt'}:</td>
    <td width="366" class="frmText11"><input name="ftp_password" type="text" class="text" value="{tmpl_var name='ftp_password'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='local_path_txt'}:</td>
    <td width="366" class="frmText11"><input name="local_path" type="text" class="text" value="{tmpl_var name='local_path'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='wput_options_txt'}:</td>
    <td width="366" class="frmText11"><input name="wput_options" type="text" class="text" value="{tmpl_var name='wput_options'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='active_txt'}:</td>
    <td width="366" class="frmText11">{tmpl_var name='active'}</td>
  </tr>  <tr>
    <td class="frmText11">&nbsp;</td>
    <td class="frmText11">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input name="Speichern" type="submit" class="button" value="Speichern">
      <input name="Abbrechen" type="button" class="button" value="Abbrechen" onClick="self.location.href='filesync_list.php';">
    </td>
  </tr>
</table>
<input type="hidden" name="id" value="{tmpl_var name='id'}">