<table width="500" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td class="frmText11">{tmpl_var name='server_id_txt'}:</td>
    <td class="frmText11">
		<select name="server_id" class="text">
			{tmpl_var name='server_id'}
		</select>
	</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='tcp_port_txt'}:</td>
    <td class="frmText11"><input name="tcp_port" type="text" class="text" value="{tmpl_var name='tcp_port'}" size="30" maxlength="255"> ({tmpl_var name='tcp_port_help_txt'})</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='udp_port_txt'}:</td>
    <td class="frmText11"><input name="udp_port" type="text" class="text" value="{tmpl_var name='udp_port'}" size="30" maxlength="255">({tmpl_var name='udp_port_help_txt'})</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='active_txt'}:</td>
    <td class="frmText11">{tmpl_var name='active'}</td>
  </tr>  <tr>
    <td class="frmText11">&nbsp;</td>
    <td class="frmText11">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input name="btn_save" type="button" class="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','admin/firewall_edit.php');"><div class="buttonEnding"></div>&nbsp;
      <input name="btn_cancel" type="button" class="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('admin/firewall_list.php');"><div class="buttonEnding"></div>
    </td>
  </tr>
</table>
<input type="hidden" name="id" value="{tmpl_var name='id'}">