<h2><tmpl_var name="list_head_txt"></h2>

<div class="panel panel_language_add">

  <tmpl_if name="msg">
  <div class="box box_msg"><tmpl_var name="msg"></div>
  </tmpl_if>
  <tmpl_if name="error">
  <div class="box box_error"><tmpl_var name="error"></div>
  </tmpl_if>
    
  <div class="pnl_formsarea">
    <fieldset id="wf_area_language_add"><legend>Language Add</legend>
      <span class="wf_oneField">
        <span class="wf_oneField">
          <label for="lng_select" class="wf_preField">{tmpl_var name='language_select_txt'}</label>
          <select name="lng_select" class="withicons" id="language">{tmpl_var name='language_option'}</select>
        </span>      
        <span class="wf_oneField">
          <label for="lng_new" class="wf_preField">{tmpl_var name='language_new_txt'}</label>
          <input type="text" id="lng_new" name="lng_new" value="" size="2" maxlength="2">
        </span>       
      </span>
    </fieldset>

    <div class="wf_actions buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','admin/language_add.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('admin/language_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
