<table width="500" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td class="frmText11">{tmpl_var name='server_name_txt'}:</td>
    <td class="frmText11"><input name="server_name" type="text" class="text" value="{tmpl_var name='server_name'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='mail_server_txt'}:</td>
    <td class="frmText11">{tmpl_var name='mail_server'}</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='web_server_txt'}:</td>
    <td class="frmText11">{tmpl_var name='web_server'}</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='dns_server_txt'}:</td>
    <td class="frmText11">{tmpl_var name='dns_server'}</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='file_server_txt'}:</td>
    <td class="frmText11">{tmpl_var name='file_server'}</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='db_server_txt'}:</td>
    <td class="frmText11">{tmpl_var name='db_server'}</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='vserver_server_txt'}:</td>
    <td class="frmText11">{tmpl_var name='vserver_server'}</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='active_txt'}:</td>
    <td class="frmText11">
		<select name="active" class="text">
			{tmpl_var name='active'}
		</select>
	</td>
  </tr>  <tr>
    <td class="frmText11">&nbsp;</td>
    <td class="frmText11">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input name="btn_save" type="button" class="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','admin/server_edit.php');"><div class="buttonEnding"></div>&nbsp;
      <input name="btn_cancel" type="button" class="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('admin/server_list.php');"><div class="buttonEnding"></div>
    </td>
  </tr>
</table>
<input type="hidden" name="id" value="{tmpl_var name='id'}">