<table width="500" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td class="frmText11">{tmpl_var name='fastcgi_starter_path_txt'}:</td>
    <td class="frmText11"><input name="fastcgi_starter_path" type="text" class="text" value="{tmpl_var name='fastcgi_starter_path'}" size="40" maxlength="255"></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='fastcgi_starter_script_txt'}:</td>
    <td class="frmText11"><input name="fastcgi_starter_script" type="text" class="text" value="{tmpl_var name='fastcgi_starter_script'}" size="40" maxlength="255"></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='fastcgi_alias_txt'}:</td>
    <td class="frmText11"><input name="fastcgi_alias" type="text" class="text" value="{tmpl_var name='fastcgi_alias'}" size="40" maxlength="255"></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='fastcgi_phpini_path_txt'}:</td>
    <td class="frmText11"><input name="fastcgi_phpini_path" type="text" class="text" value="{tmpl_var name='fastcgi_phpini_path'}" size="40" maxlength="255"></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='fastcgi_children_txt'}:</td>
    <td class="frmText11"><input name="fastcgi_children" type="text" class="text" value="{tmpl_var name='fastcgi_children'}" size="40" maxlength="255"></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='fastcgi_max_requests_txt'}:</td>
    <td class="frmText11"><input name="fastcgi_max_requests" type="text" class="text" value="{tmpl_var name='fastcgi_max_requests'}" size="40" maxlength="255"></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='fastcgi_bin_txt'}:</td>
    <td class="frmText11"><input name="fastcgi_bin" type="text" class="text" value="{tmpl_var name='fastcgi_bin'}" size="40" maxlength="255"></td>
  </tr>  <tr>
    <td class="frmText11">&nbsp;</td>
    <td class="frmText11">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input name="btn_save" type="button" class="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','admin/server_config_edit.php');"><div class="buttonEnding"></div>&nbsp;
      <input name="btn_cancel" type="button" class="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('admin/server_config_list.php');"><div class="buttonEnding"></div>
    </td>
  </tr>
</table>
<input type="hidden" name="id" value="{tmpl_var name='id'}">