<h2><tmpl_var name="list_head_txt"></h2>

<div class="panel panel_server_config">

  <div class="pnl_formsarea">
    <fieldset id="wf_area_server_config"><legend>Jailkit</legend>
      <span class="wf_oneField">
        <label for="jailkit_chroot_home" class="wf_preField">{tmpl_var name='jailkit_chroot_home_txt'}</label>
        <input type="text" id="jailkit_chroot_home" name="jailkit_chroot_home" value="{tmpl_var name='jailkit_chroot_home'}" size="40" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="jailkit_chroot_app_sections" class="wf_preField">{tmpl_var name='jailkit_chroot_app_sections_txt'}</label>
        <input type="text" id="jailkit_chroot_app_sections" name="jailkit_chroot_app_sections" value="{tmpl_var name='jailkit_chroot_app_sections'}" size="40" maxlength="1000">
      </span>
      <span class="wf_oneField">
        <label for="jailkit_chroot_app_programs" class="wf_preField">{tmpl_var name='jailkit_chroot_app_programs_txt'}</label>
        <input type="text" id="jailkit_chroot_app_programs" name="jailkit_chroot_app_programs" value="{tmpl_var name='jailkit_chroot_app_programs'}" size="40" maxlength="1000">
      </span>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="wf_actions buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','admin/server_config_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('admin/server_config_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
