<table width="500" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td width="100" class="frmText11">{tmpl_var name='server_name_txt'}:</td>
    <td class="frmText11"><input name="server_name" type="text" class="text" value="{tmpl_var name='server_name'}" size="15" maxlength="255"></td>
  </tr>
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr><td colspan="2">
  <fieldset style="width:205px;"><legend class="frmText11"><b>Services</b></legend>
  <table border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td class="frmText11">{tmpl_var name='mail_server'}</td>
    <td class="frmText11">{tmpl_var name='mail_server_txt'}</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='web_server'}</td>
    <td class="frmText11">{tmpl_var name='web_server_txt'}</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='dns_server'}</td>
    <td class="frmText11">{tmpl_var name='dns_server_txt'}</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='file_server'}</td>
    <td class="frmText11">{tmpl_var name='file_server_txt'}</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='db_server'}</td>
    <td class="frmText11">{tmpl_var name='db_server_txt'}</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='vserver_server'}</td>
    <td class="frmText11">{tmpl_var name='vserver_server_txt'}</td>
  </tr>
  </table>
  </fieldset>
  </td></tr>
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr>
    <td class="frmText11">{tmpl_var name='active_txt'}:</td>
    <td class="frmText11">
		<select name="active" class="text">
			{tmpl_var name='active'}
		</select>
	</td>
  </tr>  <tr>
    <td class="frmText11">&nbsp;</td>
    <td class="frmText11">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input name="btn_save" type="submit" class="button" value="{tmpl_var name='btn_save_txt'}">
      <input name="btn_cancel" type="button" class="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="self.location.href='server_list.php';">
    </td>
  </tr>
</table>
<input type="hidden" name="id" value="{tmpl_var name='id'}">