<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_server">
  
  <div class="pnl_formsarea">
    <fieldset class="inlineLabels">
      <div class="ctrlHolder">
      	<label for="server_name">{tmpl_var name='server_name_txt'}</label>
        <input name="server_name" id="server_name" value="{tmpl_var name='server_name'}" size="30" maxlength="255" type="text" class="textInput" />
			</div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='mail_server_txt'}</p>
					<div class="multiField">
						{tmpl_var name='mail_server'}
					</div>
			</div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='web_server_txt'}</p>
					<div class="multiField">
						{tmpl_var name='web_server'}
					</div>
			</div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='dns_server_txt'}</p>
					<div class="multiField">
						{tmpl_var name='dns_server'}
					</div>
			</div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='file_server_txt'}</p>
					<div class="multiField">
						{tmpl_var name='file_server'}
					</div>
			</div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='db_server_txt'}</p>
					<div class="multiField">
						{tmpl_var name='db_server'}
					</div>
			</div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='vserver_server_txt'}</p>
					<div class="multiField">
						{tmpl_var name='vserver_server'}
					</div>
			</div>
      <div class="ctrlHolder">
      	<label for="active">{tmpl_var name='active_txt'}</label>
        <select name="active" id="active" class="selectInput formLengthBool">
					{tmpl_var name='active'}
				</select>
      </div>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="buttonHolder buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','admin/server_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('admin/server_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
