<h2><tmpl_var name="list_head_txt"></h2>

<div class="panel panel_system_config">

  <div class="pnl_formsarea">
    <fieldset id="wf_area_system_config"><legend>Sites</legend>
      <span class="wf_oneField">
        <label for="dbname_prefix" class="wf_preField">{tmpl_var name='dbname_prefix_txt'}</label>
        <input type="text" id="dbname_prefix" name="dbname_prefix" value="{tmpl_var name='dbname_prefix'}" size="30" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="dbuser_prefix" class="wf_preField">{tmpl_var name='dbuser_prefix_txt'}</label>
        <input type="text" id="dbuser_prefix" name="dbuser_prefix" value="{tmpl_var name='dbuser_prefix'}" size="30" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="ftpuser_prefix" class="wf_preField">{tmpl_var name='ftpuser_prefix_txt'}</label>
        <input type="text" id="ftpuser_prefix" name="ftpuser_prefix" value="{tmpl_var name='ftpuser_prefix'}" size="30" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="shelluser_prefix" class="wf_preField">{tmpl_var name='shelluser_prefix_txt'}</label>
        <input type="text" id="shelluser_prefix" name="shelluser_prefix" value="{tmpl_var name='shelluser_prefix'}" size="30" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="dblist_phpmyadmin_link" class="wf_preField">{tmpl_var name='dblist_phpmyadmin_link_txt'}</label>                    <span class="">
                      {tmpl_var name='dblist_phpmyadmin_link'}
                    </span>
      </span>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="wf_actions buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','admin/system_config_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('admin/users_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
