<h2><tmpl_var name="list_head_txt"></h2>

<div class="panel panel_users">

  <div class="pnl_formsarea">
    <fieldset id="wf_area_users"><legend>Groups</legend>
      <span class="wf_oneField">
        <label for="default_group" class="wf_preField">{tmpl_var name='default_group_txt'}</label>
        <select id="default_group" name="default_group">{tmpl_var name='default_group'}</select>
      </span>
      <span class="wf_oneField">
        <span class="wf_label wf_preField">{tmpl_var name='groups_txt'}</span>                    
        <fieldset>{tmpl_var name='groups'}</fieldset>
      </span>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="wf_actions buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','admin/users_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('admin/users_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
