<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_spamfilter_users">

    <div class="pnl_formsarea">
        <fieldset class="inlineLabels">
            <div class="ctrlHolder">
                <label for="server_id">{tmpl_var name='server_id_txt'}</label>
                <select name="server_id" id="server_id" class="selectInput">
                    {tmpl_var name='server_id'}
                </select>
            </div>
            <div class="ctrlHolder">
                <label for="priority">{tmpl_var name='priority_txt'}</label>
                <select name="priority" id="priority" class="selectInput formLengthLimit">
                    {tmpl_var name='priority'}
                </select>
            </div>
            <div class="ctrlHolder">
                <label for="policy_id">{tmpl_var name='policy_id_txt'}</label>
                <select name="policy_id" id="policy_id" class="selectInput">
                    {tmpl_var name='policy_id'}
                </select>
            </div>
            <div class="ctrlHolder">
                <label for="email">{tmpl_var name='email_txt'}</label>
                <input name="email" id="email" value="{tmpl_var name='email'}" size="30" maxlength="255" type="text" class="textInput" />
            </div>
            <div class="ctrlHolder">
                <label for="fullname">{tmpl_var name='fullname_txt'}</label>
                <input name="fullname" id="fullname" value="{tmpl_var name='fullname'}" size="30" maxlength="255" type="text" class="textInput" />
            </div>
            <div class="ctrlHolder">
                <label for="local">{tmpl_var name='local_txt'}</label>
                <select name="local" id="local" class="selectInput formLengthBool">
                    {tmpl_var name='local'}
                </select>
            </div>
        </fieldset>

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','mail/spamfilter_users_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('mail/spamfilter_users_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>

</div>