<h2><tmpl_var name="head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_language_import">
  
    <div class="pnl_formsarea">
        <fieldset class="inlineLabels"><legend>{tmpl_var name="legend_txt"}</legend>
            
            <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="Update Packagelist" onClick="loadContent('sites/aps_cron_apscrawler_if.php')"><span>{tmpl_var name="btn_start_txt"}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="Cancel" onClick="loadContent('sites/aps_availablepackages_list.php');"><span>{tmpl_var name="btn_cancel_txt"}</span></button>
        </div>
        </fieldset>



        
    </div>
  
</div>
