<table width="500" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td class="frmText11">{tmpl_var name='uid_txt'}:</td>
    <td class="frmText11"><input name="uid" type="text" class="text" value="{tmpl_var name='uid'}" size="5" maxlength="5"></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='gid_txt'}:</td>
    <td class="frmText11"><input name="gid" type="text" class="text" value="{tmpl_var name='gid'}" size="5" maxlength="5"></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='dir_txt'}:</td>
    <td class="frmText11"><input name="dir" type="text" class="text" value="{tmpl_var name='dir'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='quota_files_txt'}:</td>
    <td class="frmText11"><input name="quota_files" type="text" class="text" value="{tmpl_var name='quota_files'}" size="7" maxlength="7"></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='ul_ratio_txt'}:</td>
    <td class="frmText11"><input name="ul_ratio" type="text" class="text" value="{tmpl_var name='ul_ratio'}" size="7" maxlength="7"></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='dl_ratio_txt'}:</td>
    <td class="frmText11"><input name="dl_ratio" type="text" class="text" value="{tmpl_var name='dl_ratio'}" size="7" maxlength="7"></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='ul_bandwidth_txt'}:</td>
    <td class="frmText11"><input name="ul_bandwidth" type="text" class="text" value="{tmpl_var name='ul_bandwidth'}" size="7" maxlength="7"></td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='dl_bandwidth_txt'}:</td>
    <td class="frmText11"><input name="dl_bandwidth" type="text" class="text" value="{tmpl_var name='dl_bandwidth'}" size="7" maxlength="7"></td>
  </tr>  <tr>
    <td class="frmText11">&nbsp;</td>
    <td class="frmText11">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input name="btn_save" type="button" class="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','sites/ftp_user_edit.php');"><div class="buttonEnding"></div>&nbsp;
      <input name="btn_cancel" type="button" class="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('sites/ftp_user_list.php');"><div class="buttonEnding"></div>
    </td>
  </tr>
</table>
<input type="hidden" name="id" value="{tmpl_var name='id'}">