<h2><tmpl_var name="list_head_txt"></h2>

<div class="panel panel_ftp_user">

  <div class="pnl_formsarea">
    <fieldset id="wf_area_ftp_user"><legend>FTP User</legend>
      <span class="wf_oneField">
        <label for="parent_domain_id" class="wf_preField">{tmpl_var name='parent_domain_id_txt'}</label>
        <select id="parent_domain_id" name="parent_domain_id">{tmpl_var name='parent_domain_id'}</select>
      </span>
      <span class="wf_oneField">
        <label for="username" class="wf_preField">{tmpl_var name='username_txt'}</label>
        <input type="text" id="username" name="username" value="{tmpl_var name='username'}" size="30" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="password" class="wf_preField">{tmpl_var name='password_txt'}</label>
        <input type="password" id="password" name="password" value="{tmpl_var name='password'}" size="30" maxlength="255">
      </span>
      <span class="wf_oneField">
        <label for="quota_size" class="wf_preField">{tmpl_var name='quota_size_txt'}</label>
        <input type="text" id="quota_size" name="quota_size" value="{tmpl_var name='quota_size'}" size="7" maxlength="7">
      </span>
      <span class="wf_oneField">
        <label for="active" class="wf_preField">{tmpl_var name='active_txt'}</label>                    <span class="">
                      {tmpl_var name='active'}
                    </span>
      </span>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="wf_actions buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','sites/ftp_user_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('sites/ftp_user_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
