<h2><tmpl_var name="list_head_txt"></h2>

<div class="panel panel_web_domain">

  <div class="pnl_formsarea">
    <fieldset id="wf_area_web_domain"><legend>Redirect</legend>
      <span class="wf_oneField">
        <label for="redirect_type" class="wf_preField">{tmpl_var name='redirect_type_txt'}</label>
        <select id="redirect_type" name="redirect_type">{tmpl_var name='redirect_type'}</select>
      </span>
      <span class="wf_oneField">
        <label for="redirect_path" class="wf_preField">{tmpl_var name='redirect_path_txt'}</label>
        <input type="text" id="redirect_path" name="redirect_path" value="{tmpl_var name='redirect_path'}" size="30" maxlength="255">
      </span>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="wf_actions buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','sites/web_domain_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('sites/web_domain_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
