<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_web_domain">

  <div class="pnl_formsarea">
    <fieldset class="inlineLabels"><legend>Backup</legend>
      <div class="ctrlHolder">
      	<label for="backup_interval">{tmpl_var name='backup_interval_txt'}</label>
        <select name="backup_interval" id="backup_interval" class="selectInput">
					{tmpl_var name='backup_interval'}
				</select>
      </div>
      <div class="ctrlHolder">
      	<label for="backup_copies">{tmpl_var name='backup_copies_txt'}</label>
        <select name="backup_copies" id="backup_copies" class="selectInput">
					{tmpl_var name='backup_copies'}
				</select>
      </div>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="buttonHolder buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','sites/web_domain_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('sites/web_domain_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
