<table width="500" border="0" cellspacing="0" cellpadding="2">
  <tmpl_if name="is_admin">
  <tr>
    <td class="frmText11">{tmpl_var name='server_id_txt'}:</td>
    <td class="frmText11">
		<select name="server_id" id="server_id" class="text" onChange="loadContentInto('ip_address','sites/ajax_get_ip.php?server_id='+document.getElementById('server_id').value)">
			{tmpl_var name='server_id'}
		</select>
	</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='client_txt'}:</td>
    <td class="frmText11">
		<select name="client_group_id" class="text">
			{tmpl_var name='client_group_id'}
		</select>
	</td>
  </tr>
  </tmpl_if>
  <tmpl_if name="is_reseller">
  <tr>
    <td class="frmText11">{tmpl_var name='client_txt'}:</td>
    <td class="frmText11">
		<select name="client_group_id" class="text">
			{tmpl_var name='client_group_id'}
		</select>
	</td>
  </tr>
  </tmpl_if>
  <tr>
    <td class="frmText11">{tmpl_var name='ip_address_txt'}:</td>
    <td class="frmText11">
		<select name="ip_address" id="ip_address" class="text">
			{tmpl_var name='ip_address'}
		</select>
	</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='domain_txt'}:</td>
    <td class="frmText11"><input name="domain" type="text" class="text" value="{tmpl_var name='domain'}" size="30" maxlength="255"></td>
  </tr>
  <!--
  <tr>
    <td class="frmText11">{tmpl_var name='type_txt'}:</td>
    <td class="frmText11">
		<select name="type" class="text">
			{tmpl_var name='type'}
		</select>
	</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='parent_domain_id_txt'}:</td>
    <td class="frmText11">
		<select name="parent_domain_id" class="text">
			{tmpl_var name='parent_domain_id'}
		</select>
	</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='vhost_type_txt'}:</td>
    <td class="frmText11">
		<select name="vhost_type" class="text">
			{tmpl_var name='vhost_type'}
		</select>
	</td>
  </tr>
  -->
  <tr>
    <td class="frmText11">{tmpl_var name='hd_quota_txt'}:</td>
    <td class="frmText11"><input name="hd_quota" type="text" class="text" value="{tmpl_var name='hd_quota'}" size="7" maxlength="7"> MB</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='traffic_quota_txt'}:</td>
    <td class="frmText11"><input name="traffic_quota" type="text" class="text" value="{tmpl_var name='traffic_quota'}" size="7" maxlength="7"> MB</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='cgi_txt'}:</td>
    <td class="frmText11">{tmpl_var name='cgi'}</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='ssi_txt'}:</td>
    <td class="frmText11">{tmpl_var name='ssi'}</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='suexec_txt'}:</td>
    <td class="frmText11">{tmpl_var name='suexec'}</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='ssl_txt'}:</td>
    <td class="frmText11">{tmpl_var name='ssl'}</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='php_txt'}:</td>
    <td class="frmText11">
		<select name="php" class="text">
			{tmpl_var name='php'}
		</select>
	</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='errordocs_txt'}:</td>
    <td class="frmText11">{tmpl_var name='errordocs'}</td>
  </tr>
  <tr>
    <td class="frmText11">{tmpl_var name='active_txt'}:</td>
    <td class="frmText11">{tmpl_var name='active'}</td>
  </tr>  <tr>
    <td class="frmText11">&nbsp;</td>
    <td class="frmText11">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input name="btn_save" type="button" class="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','sites/web_domain_edit.php');"><div class="buttonEnding"></div>&nbsp;
      <input name="btn_cancel" type="button" class="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('sites/web_domain_list.php');"><div class="buttonEnding"></div>
    </td>
  </tr>
</table>
<input type="hidden" name="id" value="{tmpl_var name='id'}">