<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_client_template">

    <div class="pnl_formsarea">
        <fieldset class="inlineLabels"><legend>Template</legend>
            <div class="ctrlHolder">
                <label for="template_type">{tmpl_var name='template_type_txt'}</label>
                <select name="template_type" id="template_type" class="selectInput">
                    {tmpl_var name='template_type'}
                </select>
            </div>
            <div class="ctrlHolder">
                <label for="template_name">{tmpl_var name='template_name_txt'}</label>
                <input name="template_name" id="template_name" value="{tmpl_var name='template_name'}" size="30" maxlength="255" type="text" class="textInput" />
            </div>
        </fieldset>

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','client/client_template_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('client/client_template_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>

</div>
