<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<tmpl_if name="error">
    <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
</tmpl_if>

<div class="panel panel_dns_wizard">

    <div class="pnl_formsarea">
        <fieldset class="inlineLabels"><legend><tmpl_var name="dns_zone_txt"></legend>
            <div class="ctrlHolder">
                <label for="template_id">{tmpl_var name='template_id_txt'}</label>
                <select name="template_id" id="template_id" class="selectInput" onChange="submitForm('pageForm','dns/dns_wizard.php')">
                    {tmpl_var name='template_id_option'}
                </select>
            </div>
            <tmpl_if name="is_admin">
                <div class="ctrlHolder">
                    <label for="server_id">{tmpl_var name='server_id_txt'}</label>
                    <select name="server_id" id="server_id" class="selectInput">
                        {tmpl_var name='server_id'}
                    </select>
                </div>
                <div class="ctrlHolder">
                    <label for="client_group_id">{tmpl_var name='client_txt'}</label>
                    <select name="client_group_id" id="client_group_id" class="selectInput">
                        {tmpl_var name='client_group_id'}
                    </select>
                </div>
            </tmpl_if>
            <tmpl_if name="is_reseller">
                <div class="ctrlHolder">
                    <label for="client_group_id">{tmpl_var name='client_txt'}</label>
                    <select name="client_group_id" id="client_group_id" class="selectInput">
                        {tmpl_var name='client_group_id'}
                    </select>
                </div>
            </tmpl_if>
            <tmpl_if name="DOMAIN_VISIBLE">
                <div class="ctrlHolder">
                    <label for="domain">{tmpl_var name='domain_txt'}</label>
                    <input name="domain" id="domain" value="{tmpl_var name='domain'}" size="30" maxlength="255" type="text" class="textInput" />
                </div>
            </tmpl_if>
            <tmpl_if name="IP_VISIBLE">
                <div class="ctrlHolder">
                    <label for="ip">{tmpl_var name='ip_txt'}</label>
                    <input name="ip" id="ip" value="{tmpl_var name='ip'}" size="30" maxlength="255" type="text" class="textInput" />
                </div>
            </tmpl_if>
            <tmpl_if name="NS1_VISIBLE">
                <div class="ctrlHolder">
                    <label for="ns1">{tmpl_var name='ns1_txt'}</label>
                    <input name="ns1" id="ns1" value="{tmpl_var name='ns1'}" size="30" maxlength="255" type="text" class="textInput" />
                </div>
            </tmpl_if>
            <tmpl_if name="NS2_VISIBLE">
                <div class="ctrlHolder">
                    <label for="ns2">{tmpl_var name='ns2_txt'}</label>
                    <input name="ns2" id="ns2" value="{tmpl_var name='ns2'}" size="30" maxlength="255" type="text" class="textInput" />
                </div>
            </tmpl_if>
            <tmpl_if name="EMAIL_VISIBLE">
                <div class="ctrlHolder">
                    <label for="email">{tmpl_var name='email_txt'}</label>
                    <input name="email" id="email" value="{tmpl_var name='email'}" size="30" maxlength="255" type="text" class="textInput" />
                </div>
            </tmpl_if>
        </fieldset>
            
        <input type="hidden" name="create" value="0" />
            
        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" name="btn_create" onclick="document.pageForm.create.value=1; submitForm('pageForm','dns/dns_wizard.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('dns/dns_soa_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
  
</div>
<script language="JavaScript" type="text/javascript">
    jQuery('#ip').ispconfigSearch({
        dataSrc: '/dns/ajax_get_json.php?type=get_ipv4',
        resultsLimit: '$ <tmpl_var name="globalsearch_resultslimit_of_txt"> % <tmpl_var name="globalsearch_resultslimit_results_txt">',
        ResultsTextPrefix: '<tmpl_var name="globalsearch_suggestions_text_txt">',
        noResultsText: '<tmpl_var name="globalsearch_noresults_text_txt">',
        noResultsLimit: '<tmpl_var name="globalsearch_noresults_limit_txt">',
        minChars: 0,
        cssPrefix: 'df-',
        fillSearchField: true,
        fillSearchFieldWith: 'fill_text',
        searchFieldWatermark: '',
        resultBoxPosition: 'e'
    });	
</script>
