<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_dns_slave">

    <div class="pnl_formsarea">
        <fieldset class="inlineLabels"><legend>Secondary DNS Zone</legend>
            <tmpl_if name="is_admin">
                <div class="ctrlHolder">
                    <tmpl_if name="edit_disabled">
                        <label for="server_id_disabled">{tmpl_var name='server_id_txt'}</label>
                        <select name="server_id_disabled" id="server_id_disabled" class="selectInput" disabled="disabled">
                            {tmpl_var name='server_id'}
                        </select>
                        <input type="hidden" name="server_id" value="{tmpl_var name='server_id_value'}" />
                    <tmpl_else>
                            <label for="server_id">{tmpl_var name='server_id_txt'}</label>
                            <select name="server_id" id="server_id" class="selectInput">
                                {tmpl_var name='server_id'}
                            </select>
                    </tmpl_if>
                </div>
                <div class="ctrlHolder">
                    <label for="client_group_id">{tmpl_var name='client_txt'}</label>
                    <select name="client_group_id" id="client_group_id" class="selectInput">
                        {tmpl_var name='client_group_id'}
                    </select>
                </div>
            </tmpl_if>
            <tmpl_if name="is_reseller">
                <div class="ctrlHolder">
                    <label for="client_group_id">{tmpl_var name='client_txt'}</label>
                    <select name="client_group_id" id="client_group_id" class="selectInput">
                        {tmpl_var name='client_group_id'}
                    </select>
                </div>
            </tmpl_if>
            <div class="ctrlHolder">
                <label for="origin">{tmpl_var name='origin_txt'}</label>
                <input name="origin" id="origin" value="{tmpl_var name='origin'}" size="30" maxlength="255" type="text" class="textInput" />
                <p class="formHint">{tmpl_var name='eg_domain_tld'}</p>
            </div>
            <div class="ctrlHolder">
                <label for="ns">{tmpl_var name='ns_txt'}</label>
                <input name="ns" id="ns" value="{tmpl_var name='ns'}" size="30" maxlength="255" type="text" class="textInput" />
                <p class="formHint">{tmpl_var name='ipv4_form_txt'}</p>
            </div>
            <div class="ctrlHolder">
                <label for="xfer">{tmpl_var name='xfer_txt'}</label>
                <input name="xfer" id="xfer" value="{tmpl_var name='xfer'}" size="30" maxlength="255" type="text" class="textInput" />
            </div>
            <div class="ctrlHolder">
                <p class="label">{tmpl_var name='active_txt'}</p>
                <div class="multiField">
                    {tmpl_var name='active'}
                </div>
            </div>
        </fieldset>
            
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <input name="serial" type="hidden" value="{tmpl_var name='serial'}">
            
        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','dns/dns_slave_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('dns/dns_slave_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
  
</div>
<script language="JavaScript" type="text/javascript">
    jQuery('#ns').ispconfigSearch({
        dataSrc: '/dns/ajax_get_json.php?type=get_ipv4',
        resultsLimit: '$ <tmpl_var name="globalsearch_resultslimit_of_txt"> % <tmpl_var name="globalsearch_resultslimit_results_txt">',
        ResultsTextPrefix: '<tmpl_var name="globalsearch_suggestions_text_txt">',
        noResultsText: '<tmpl_var name="globalsearch_noresults_text_txt">',
        noResultsLimit: '<tmpl_var name="globalsearch_noresults_limit_txt">',
        minChars: 0,
        cssPrefix: 'df-',
        fillSearchField: true,
        fillSearchFieldWith: 'fill_text',
        searchFieldWatermark: '',
        resultBoxPosition: 'e'
    });
    jQuery('#xfer').ispconfigSearch({
        dataSrc: '/dns/ajax_get_json.php?type=get_ipv4',
        resultsLimit: '$ <tmpl_var name="globalsearch_resultslimit_of_txt"> % <tmpl_var name="globalsearch_resultslimit_results_txt">',
        ResultsTextPrefix: '<tmpl_var name="globalsearch_suggestions_text_txt">',
        noResultsText: '<tmpl_var name="globalsearch_noresults_text_txt">',
        noResultsLimit: '<tmpl_var name="globalsearch_noresults_limit_txt">',
        minChars: 0,
        cssPrefix: 'df-',
        fillSearchField: true,
        fillSearchFieldWith: 'fill_text',
        searchFieldWatermark: '',
        resultBoxPosition: 'e'
    });	
</script>