<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<tmpl_if name="error">
	<div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
</tmpl_if>

<div class="panel panel_dns_wizard">

  <div class="pnl_formsarea">
        <fieldset class="inlineLabels"><legend>Zone File Import</legend>
      <tmpl_if name="is_admin">
      <div class="ctrlHolder">
      	<label for="server_id">{tmpl_var name='server_id_txt'}</label>
        <select name="server_id" id="server_id" class="selectInput">
					{tmpl_var name='server_id'}
				</select>
      </div>
      <div class="ctrlHolder">
      	<label for="client_group_id">{tmpl_var name='client_txt'}</label>
        <select name="client_group_id" id="client_group_id" class="selectInput">
					{tmpl_var name='client_group_id'}
				</select>
      </div>
      </tmpl_if>
	      <div class="ctrlHolder">
	      	<label for="domain">{tmpl_var name='domain_txt'}. Can be left empty if domain name is in the filename or the zone-file content.</label>
	        <input name="domain" id="domain" value="{tmpl_var name='domain'}" size="30" maxlength="255" type="text" class="textInput" onkeydown="keydown(event.which);" />
				</div>

      <div class="ctrlHolder" style="margin-left:0px;left:0px;padding-left:0px;">
	      <input name="file" id="file" size="30" type="file" class="fileUpload" />
      </div>

	<tmpl_if name="msg">
	<div id="OKMsg"><p><tmpl_var name="msg"></p></div>
  </tmpl_if>
  <tmpl_if name="error">
	<div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
  </tmpl_if>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="buttonHolder buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitUploadForm('pageForm','dns/dns_import.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('dns/dns_soa_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>

	</fieldset>
  </div>
  
</div>
<script language="JavaScript" type="text/javascript">
	function keydown(keynum){
        if(keynum == 13){
            jQuery('.positive').trigger('click');
        }
    }
</script>