<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_dns_template">

  <div class="pnl_formsarea">
    <fieldset class="inlineLabels">
      <div class="ctrlHolder">
      	<label for="name">{tmpl_var name='name_txt'}</label>
        <input name="name" id="name" value="{tmpl_var name='name'}" size="40" maxlength="255" type="text" class="textInput" />
			</div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='fields_txt'}</p>
					<div class="multiField">
						{tmpl_var name='fields'}
					</div>
			</div>
      <div class="ctrlHolder">
      	<label for="template">{tmpl_var name='template_txt'}</label>
        <textarea name="template" id="template" rows='15' cols='40'>{tmpl_var name='template'}</textarea>
      </div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='visible_txt'}</p>
					<div class="multiField">
						{tmpl_var name='visible'}
					</div>
			</div>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="buttonHolder buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','dns/dns_template_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('dns/dns_template_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
