<h2><tmpl_var name="list_head_txt"></h2>

<div class="panel panel_dns_template">

  <div class="pnl_formsarea">
    <fieldset id="wf_area_dns_template"><legend>DNS Template</legend>
      <span class="wf_oneField">
        <label for="name" class="wf_preField">{tmpl_var name='name_txt'}</label>
        <input type="text" id="name" name="name" value="{tmpl_var name='name'}" size="40" maxlength="255">
      </span>
      <span class="wf_oneField">
        <span class="wf_label wf_preField">{tmpl_var name='fields_txt'}</span>
        <fieldset>{tmpl_var name='fields'}</fieldset>
      </span>
      <span class="wf_oneField">
        <label for="template" class="wf_preField">{tmpl_var name='template_txt'}</label>
        <textarea id="template" name="template">{tmpl_var name='template'}</textarea>
      </span>
      <span class="wf_oneField">
        <label for="visible" class="wf_preField">{tmpl_var name='visible_txt'}</label>                    
        <span class="">{tmpl_var name='visible'}</span>
      </span>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="wf_actions buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','dns/dns_template_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('dns/dns_template_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
