<script language="JavaScript">
<!--

function del_record(link) {
  if(window.confirm("<tmpl_var name='delete_confirmation'>")) {
          location.href = link;
  }
}

//-->
</script>
<div class="frmTextHead"><tmpl_var name="list_head_txt"></div><br />
<input type="button" value="{tmpl_var name="add_new_record_txt"}" onClick="location.href='rr_edit.php'" /><br /><br />
<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr>
    <td class="tblHead"><tmpl_var name="name_txt"></td>
    <td class="tblHead"><tmpl_var name="type_txt"></td>
    <td class="tblHead"><tmpl_var name="data_txt"></td>
    <td class="tblHead"><tmpl_var name="aux_txt"></td>
    <td class="tblHead"><tmpl_var name="ttl_txt"></td>
    <td class="tblHead">&nbsp;</td>
  </tr>
  <tr>
    <td class="frmText11"><input type="text" name="search_name" value="{tmpl_var name='search_name'}" class="text" /></td>
    <td class="frmText11"><select name="search_type" onChange="document.myform.submit();">{tmpl_var name='search_type'}</select></td>
    <td class="frmText11"><input type="text" name="search_data" value="{tmpl_var name='search_data'}" class="text" /></td>
    <td class="frmText11"><input type="text" name="search_aux" value="{tmpl_var name='search_aux'}" class="text" /></td>
    <td class="frmText11"><input type="text" name="search_ttl" value="{tmpl_var name='search_ttl'}" class="text" /></td>
    <td class="frmText11" align="right"><input name="Filter" type="submit" id="Filter" value="{tmpl_var name="filter_txt"}"></td>
  </tr>
  <tmpl_loop name="records">
  <tr bgcolor="{tmpl_var name="bgcolor"}">
    <td class="frmText11"><a href="rr_edit.php?id={tmpl_var name='id'}" class="frmText11">{tmpl_var name="name"}</a></td>
    <td class="frmText11"><a href="rr_edit.php?id={tmpl_var name='id'}" class="frmText11">{tmpl_var name="type"}</a></td>
    <td class="frmText11"><a href="rr_edit.php?id={tmpl_var name='id'}" class="frmText11">{tmpl_var name="data"}</a></td>
    <td class="frmText11"><a href="rr_edit.php?id={tmpl_var name='id'}" class="frmText11">{tmpl_var name="aux"}</a></td>
    <td class="frmText11"><a href="rr_edit.php?id={tmpl_var name='id'}" class="frmText11">{tmpl_var name="ttl"}</a></td>
    <td class="frmText11" align="right">[<a href="javascript: del_record('rr_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}');" class="frmText11">{tmpl_var name='delete_txt'}</a>]</td>
  </tr>
  </tmpl_loop>

  <tr>
          <td colspan="6" height="40" align="center" class="tblFooter"><tmpl_var name="paging"></td>
  </tr>
</table>