<form name="myform" action="form_list.php" method="POST">
<div class="frmTextHead"><tmpl_var name="list_head_txt"></div><br />
<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr>
    <td class="tblHead"><tmpl_var name="form_txt"></td>
    <td class="tblHead"><tmpl_var name="title_txt"></td>
	<td class="tblHead"><tmpl_var name="module_txt"></td>
	<td class="tblHead"><tmpl_var name="description_txt"></td>
    <td class="tblHead">&nbsp;</td>
  </tr>
  <tmpl_loop name="records">
  <tr bgcolor="{tmpl_var name="bgcolor"}">
    <td class="frmText11"><a href="form_show.php?form_name={tmpl_var name='name'}&module_name={tmpl_var name='module_name'}" class="frmText11">{tmpl_var name="name"}</a></td>
    <td class="frmText11"><a href="form_show.php?form_name={tmpl_var name='name'}&module_name={tmpl_var name='module_name'}" class="frmText11">{tmpl_var name="title"}</a></td>
	<td class="frmText11"><a href="form_show.php?form_name={tmpl_var name='name'}&module_name={tmpl_var name='module_name'}" class="frmText11">{tmpl_var name="module_name"}</a></td>
	<td class="frmText11"><a href="form_show.php?form_name={tmpl_var name='name'}&module_name={tmpl_var name='module_name'}" class="frmText11">{tmpl_var name="description"}</a></td>
    <td class="frmText11" align="right">[<a href="javascript: del_record('form_del.php?form_name={tmpl_var name='module'}&module_name={tmpl_var name='module_name'}&phpsessid={tmpl_var name='phpsessid'}');" class="frmText11">Delete</a>]</td>
  </tr>
  </tmpl_loop>
  <tmpl_unless name="records">
      <tr class="tbl_row_noresults tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
          <td colspan="5">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
      </tr>
  </tmpl_unless>
  <tr>
  	<td colspan="7" height="40" align="center" class="tblFooter"><tmpl_var name="paging"></td>
  </tr>
</table>
</form>