<script language="JavaScript">
<!--
function del_module(link) {
  if(window.confirm("{tmpl_var name='module_del_txt'}")) {
  	location.href = link;
  }
}
function del_menu(link) {
  if(window.confirm("{tmpl_var name='menu_del_txt'}")) {
  	location.href = link;
  }
}
function del_menuitem(link) {
  if(window.confirm("{tmpl_var name='item_del_txt'}")) {
  	location.href = link;
  }
}

//-->
</script>
<form name="myform" action="module_show.php" method="POST">
<div class="frmTextHead"><tmpl_var name="header_txt"></div><br />
<fieldset style="width:320px;"><legend class="frmText11"><b>{tmpl_var name='form_txt'}</b></legend>
<table border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="title_txt">:</td>
    <td width="366" class="frmText11">{tmpl_var name='title'}</td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="name_txt">:</td>
    <td width="366" class="frmText11">{tmpl_var name='form_name'}</td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="module_txt">:</td>
    <td width="366" class="frmText11">{tmpl_var name='module_name'}</td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="description_txt">:</td>
    <td width="366" class="frmText11" valign="top">{tmpl_var name='description'}</td>
  </tr>
  <tr>
    <td colspan="2" class="frmText11">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" class="frmText11">
	  <input type="button" name="ed1" value="{tmpl_var name='properties_txt'}" onClick="location.href='form_edit.php?form_name={tmpl_var name='form_name'}&module_name={tmpl_var name='module_name'}'" class="button" />
	  <input type="button" name="ed2" value="{tmpl_var name='delete_txt'}" onClick="del_module('form_del.php?form_name={tmpl_var name='form_name'}&module_name={tmpl_var name='module_name'}');" class="button" />
	  <input type="button" name="ed3" value="{tmpl_var name='new_tab_txt'}" onClick="location.href='form_tab_edit.php?form_name={tmpl_var name='form_name'}&module_name={tmpl_var name='module_name'}'" class="button" /></td>
  </tr>
</table>
</fieldset>
<table width="350" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td colspan="2" class="frmText11">&nbsp;</td>
  </tr>
  <tmpl_var name="nav">
  <tr>
    <td colspan="2" class="frmText11">&nbsp;</td>
  </tr>
</table>
</form>