<form method="POST" action="form_edit.php">
<div class="frmTextHead"><tmpl_var name="header_txt"></div><br />
<table width="500" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="name_txt">:</td>
    <td width="366" class="frmText11"><input name="form[name]" type="text" class="text" value="{tmpl_var name='name'}" size="20" maxlength="50" {tmpl_var name='readonly'}></td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="title_txt">:</td>
    <td width="366" class="frmText11"><input name="form[title]" type="text" class="text" value="{tmpl_var name='title'}" size="20" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="description_txt">:</td>
    <td width="366" class="frmText11"><input name="form[description]" type="text" class="text" value="{tmpl_var name='description'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="action_txt">:</td>
    <td width="366" class="frmText11"><input name="form[action]" type="text" class="text" value="{tmpl_var name='action'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="db_table_txt">:</td>
    <td width="366" class="frmText11"><input name="form[db_table]" type="text" class="text" value="{tmpl_var name='db_table'}" size="10" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="db_table_idx_txt">:</td>
    <td width="366" class="frmText11"><input name="form[db_table_idx]" type="text" class="text" value="{tmpl_var name='db_table_idx'}" size="10" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="db_history_txt">:</td>
    <td width="366" class="frmText11"><input name="form[db_history]" type="text" class="text" value="{tmpl_var name='db_history'}" size="3" maxlength="3"> yes / no</td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="tab_default_txt">:</td>
    <td width="366" class="frmText11"><input name="form[tab_default]" type="text" class="text" value="{tmpl_var name='tab_default'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="list_default_txt">:</td>
    <td width="366" class="frmText11"><input name="form[list_default]" type="text" class="text" value="{tmpl_var name='list_default'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="auth_txt">:</td>
    <td width="366" class="frmText11"><input name="form[auth]" type="text" class="text" value="{tmpl_var name='auth'}" size="3" maxlength="3"> yes / no</td>
  </tr>
  <tr>
    <td colspan="2" class="frmText11">&nbsp;</td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="auth_preset_userid_txt">:</td>
    <td width="366" class="frmText11"><input name="form[auth_preset][userid]" type="text" class="text" value="{tmpl_var name='auth_preset_userid'}" size="4" maxlength="4"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="auth_preset_groupid_txt">:</td>
    <td width="366" class="frmText11"><input name="form[auth_preset][groupid]" type="text" class="text" value="{tmpl_var name='auth_preset_groupid'}" size="4" maxlength="4"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="auth_preset_perm_user_txt">:</td>
    <td width="366" class="frmText11"><input name="form[auth_preset][perm_user]" type="text" class="text" value="{tmpl_var name='auth_preset_perm_user'}" size="4" maxlength="4"> r = read, i = insert, u = update, d = delete</td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="auth_preset_perm_group_txt">:</td>
    <td width="366" class="frmText11"><input name="form[auth_preset][perm_group]" type="text" class="text" value="{tmpl_var name='auth_preset_perm_group'}" size="4" maxlength="4"> r = read, i = insert, u = update, d = delete</td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="auth_preset_perm_other_txt">:</td>
    <td width="366" class="frmText11"><input name="form[auth_preset][perm_other]" type="text" class="text" value="{tmpl_var name='auth_preset_perm_other'}" size="4" maxlength="4"> r = read, i = insert, u = update, d = delete</td>
  </tr>
  <tr>
    <td colspan="2" class="frmText11">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input name="Speichern" type="submit" class="button" value="{tmpl_var name='save_txt'}">
      <input name="Abbrechen" type="button" class="button" value="{tmpl_var name='cancel_txt'}" onclick="self.location.href='form_list.php';">
    </td>
  </tr>
</table>
<input type="hidden" name="module_name" value="{tmpl_var name='module_name'}">
<input type="hidden" name="form_name" value="{tmpl_var name='form_name'}">
</form>