<div class="frmTextHead"><tmpl_var name="header_txt"></div><br />
<table width="500" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="title_txt">:</td>
    <td width="366" class="frmText11"><input name="title" type="text" class="text" value="{tmpl_var name='title'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="target_txt">:</td>
    <td width="366" class="frmText11"><input name="target" type="text" class="text" value="{tmpl_var name='target'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11"><tmpl_var name="link_txt">:</td>
    <td width="366" class="frmText11"><input name="link" type="text" class="text" value="{tmpl_var name='link'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td colspan="2" class="frmText11">&nbsp;<inp</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input name="Speichern" type="button" class="button" value="{tmpl_var name='save_txt'}" onclick="submitForm('pageForm','designer/module_nav_item_edit.php');"><div class="buttonEnding"></div>
      <input name="Abbrechen" type="button" class="button" value="{tmpl_var name='cancel_txt'}" onclick="loadContent('designer/module_list.php');"><div class="buttonEnding"></div>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="frmText11"><tmpl_var name="description_txt"></td>
  </tr>
  <tr>
    <td colspan="2" class="frmText11">&nbsp;</td>
  </tr>
</table>
<input type="hidden" name="item_id" value="{tmpl_var name='item_id'}">
<input type="hidden" name="nav_id" value="{tmpl_var name='nav_id'}">
<input type="hidden" name="module_name" value="{tmpl_var name='module_name'}">