[global]
webserver=apache
mailserver=postfix
dnsserver=mydns

[mail]
module=postfix_mysql
maildir_path=/var/spool/mail/[domain]/[localpart]/
homedir_path=/var/spool/mail/[domain]/[localpart]/
mailuser_uid=5000
mailuser_gid=5000

[web]
module=generic

[dns]
module=generic

[db]
module=generic

[file]
module=generic

[vserver]
module=generic