[global]
webserver=apache
mailserver=exim
dnsserver=mydns

[mail]
module=exim_mysql
maildir_path=/var/spool/mail/[domain]/[localpart]
mailuser_uid=0
mailuser_gid=0

[web]
module=generic

[dns]
module=generic

[db]
module=generic

[file]
module=generic

[vserver]
module=generic