<table width="500" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='media_cat_id_txt'}:</td>
    <td width="366" class="frmText11">
		<select name="media_cat_id" class="text">
			{tmpl_var name='media_cat_id'}
		</select>
	</td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='profile_name_txt'}:</td>
    <td width="366" class="frmText11"><input name="profile_name" type="text" class="text" value="{tmpl_var name='profile_name'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='profile_description_txt'}:</td>
    <td width="366" class="frmText11"><textarea name='profile_description' cols='30' rows='5'>{tmpl_var name='profile_description'}</textarea></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='thumbnail_txt'}:</td>
    <td width="366" class="frmText11">{tmpl_var name='thumbnail'}</td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='original_txt'}:</td>
    <td width="366" class="frmText11">{tmpl_var name='original'}</td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='path0_txt'}:</td>
    <td width="366" class="frmText11"><input name="path0" type="text" class="text" value="{tmpl_var name='path0'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='path1_txt'}:</td>
    <td width="366" class="frmText11"><input name="path1" type="text" class="text" value="{tmpl_var name='path1'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='resize1_txt'}:</td>
    <td width="366" class="frmText11"><input name="resize1" type="text" class="text" value="{tmpl_var name='resize1'}" size="10" maxlength="50"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='options1_txt'}:</td>
    <td width="366" class="frmText11"><input name="options1" type="text" class="text" value="{tmpl_var name='options1'}" size="10" maxlength="50"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='path2_txt'}:</td>
    <td width="366" class="frmText11"><input name="path2" type="text" class="text" value="{tmpl_var name='path2'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='resize2_txt'}:</td>
    <td width="366" class="frmText11"><input name="resize2" type="text" class="text" value="{tmpl_var name='resize2'}" size="10" maxlength="50"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='options2_txt'}:</td>
    <td width="366" class="frmText11"><input name="options2" type="text" class="text" value="{tmpl_var name='options2'}" size="10" maxlength="50"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='path3_txt'}:</td>
    <td width="366" class="frmText11"><input name="path3" type="text" class="text" value="{tmpl_var name='path3'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='resize3_txt'}:</td>
    <td width="366" class="frmText11"><input name="resize3" type="text" class="text" value="{tmpl_var name='resize3'}" size="10" maxlength="50"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='options3_txt'}:</td>
    <td width="366" class="frmText11"><input name="options3" type="text" class="text" value="{tmpl_var name='options3'}" size="10" maxlength="50"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='path4_txt'}:</td>
    <td width="366" class="frmText11"><input name="path4" type="text" class="text" value="{tmpl_var name='path4'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='resize4_txt'}:</td>
    <td width="366" class="frmText11"><input name="resize4" type="text" class="text" value="{tmpl_var name='resize4'}" size="10" maxlength="50"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='options4_txt'}:</td>
    <td width="366" class="frmText11"><input name="options4" type="text" class="text" value="{tmpl_var name='options4'}" size="10" maxlength="50"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='path5_txt'}:</td>
    <td width="366" class="frmText11"><input name="path5" type="text" class="text" value="{tmpl_var name='path5'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='resize5_txt'}:</td>
    <td width="366" class="frmText11"><input name="resize5" type="text" class="text" value="{tmpl_var name='resize5'}" size="10" maxlength="50"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='options5_txt'}:</td>
    <td width="366" class="frmText11"><input name="options5" type="text" class="text" value="{tmpl_var name='options5'}" size="10" maxlength="50"></td>
  </tr>  <tr>
    <td class="frmText11">&nbsp;</td>
    <td class="frmText11">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input name="Speichern" type="submit" class="button" value="Speichern">
      <input name="Abbrechen" type="button" class="button" value="Abbrechen" onClick="self.location.href='media_profile_list.php';">
    </td>
  </tr>
</table>
<input type="hidden" name="id" value="{tmpl_var name='id'}">