<table width="500" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='name_txt'}:</td>
    <td width="366" class="frmText11"><input name="name" type="text" class="text" value="{tmpl_var name='name'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='parent_txt'}:</td>
    <td width="366" class="frmText11">
		<select name="parent" class="text">
			{tmpl_var name='parent'}
		</select>
	</td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='sort_txt'}:</td>
    <td width="366" class="frmText11"><input name="sort" type="text" class="text" value="{tmpl_var name='sort'}" size="15" maxlength="30"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='active_txt'}:</td>
    <td width="366" class="frmText11">{tmpl_var name='active'}</td>
  </tr>  <tr>
    <td class="frmText11">&nbsp;</td>
    <td class="frmText11">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input name="Speichern" type="submit" class="button" value="Speichern">
      <input name="Abbrechen" type="button" class="button" value="Abbrechen" onClick="self.location.href='media_cat_list.php';">
    </td>
  </tr>
</table>
<input type="hidden" name="id" value="{tmpl_var name='id'}">