<form method="POST" name="addmedia" action="media_add.php" enctype="multipart/form-data">
<div class="frmTextHead">Mediendatei hinzufügen</div><br />
<table width="500" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td width="126" class="frmText11">Profil:</td>
    <td width="366" class="frmText11">
		<select name="media_profile_id" class="text" onChange="document.forms[0].submit();">
			{tmpl_var name='media_profile'}
		</select>
	</td>
  </tr>
  <tr>
    <td width="126" class="frmText11">Kategorie:</td>
    <td width="366" class="frmText11">
		<select name="media_cat_id" class="text">
			{tmpl_var name='media_cat'}
		</select>
	</td>
  </tr>
  <tmpl_if name="show_path">
  <tr>
    <td width="126" class="frmText11">Pfad:</td>
    <td width="366" class="frmText11">
		<input type="text" name="path" size="30" />
	</td>
  </tr>
  </tmpl_if>
  <tmpl_loop name="file">
  <tr>
    <td width="126" class="frmText11">Datei <tmpl_var name="n">:</td>
    <td width="366" class="frmText11"><input type="file" name="files[]"></td>
  </tr>
  </tmpl_loop>
  <tr>
    <td class="frmText11">&nbsp;</td>
    <td class="frmText11">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input name="Speichern" type="submit" class="button" value="Speichern">
      <input name="Abbrechen" type="button" class="button" value="Abbrechen" onClick="{tmpl_var name='cancel_action'}">
    </td>
  </tr>
</table>
<input type="hidden" name="PHPSESSID" value="{tmpl_var name='PHPSESSID'}">
<input type="hidden" name="filenum" value="{tmpl_var name='filenum'}">
<input type="hidden" name="table" value="{tmpl_var name='table'}">
<input type="hidden" name="field" value="{tmpl_var name='field'}">
<input type="hidden" name="idx_field" value="{tmpl_var name='idx_field'}">
<input type="hidden" name="idx_val" value="{tmpl_var name='idx_val'}">
<input type="hidden" name="action" value="{tmpl_var name='action'}">
<input type="hidden" name="formtab" value="{tmpl_var name='formtab'}">
</form>