<table width="500" border="0" cellspacing="0" cellpadding="2">
  <!--<tr>
    <td width="126" class="frmText11">{tmpl_var name='zone_txt'}:</td>
    <td width="366" class="frmText11"><input name="zone" type="text" class="text" value="{tmpl_var name='zone'}" size="30" maxlength="255"></td>
  </tr>//-->
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='name_txt'}:</td>
    <td width="366" class="frmText11"><input name="name" type="text" class="text" value="{tmpl_var name='name'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='type_txt'}:</td>
    <td width="366" class="frmText11">
                <select name="type" class="text">
                        {tmpl_var name='type'}
                </select>
        </td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='data_txt'}:</td>
    <td width="366" class="frmText11"><input name="data" type="text" class="text" value="{tmpl_var name='data'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='aux_txt'}:</td>
    <td width="366" class="frmText11"><input name="aux" type="text" class="text" value="{tmpl_var name='aux'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='ttl_txt'}:</td>
    <td width="366" class="frmText11"><input name="ttl" type="text" class="text" value="{tmpl_var name='ttl'}" size="30" maxlength="255"></td>
  </tr>  <tr>
    <td class="frmText11">&nbsp;</td>
    <td class="frmText11">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input name="btn_save" type="submit" class="button" value="{tmpl_var name='btn_save_txt'}">
      <input name="btn_cancel" type="button" class="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="self.location.href='rr_list.php';">
    </td>
  </tr>
</table>
<input type="hidden" name="id" value="{tmpl_var name='id'}">