<table width="500" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='origin_txt'}:</td>
    <td width="366" class="frmText11"><input name="origin" type="text" class="text" value="{tmpl_var name='origin'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='ns_txt'}:</td>
    <td width="366" class="frmText11"><input name="ns" type="text" class="text" value="{tmpl_var name='ns'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='mbox_txt'}:</td>
    <td width="366" class="frmText11"><input name="mbox" type="text" class="text" value="{tmpl_var name='mbox'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='serial_txt'}:</td>
    <td width="366" class="frmText11"><input name="serial" type="text" class="text" value="{tmpl_var name='serial'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='refresh_txt'}:</td>
    <td width="366" class="frmText11"><input name="refresh" type="text" class="text" value="{tmpl_var name='refresh'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='retry_txt'}:</td>
    <td width="366" class="frmText11"><input name="retry" type="text" class="text" value="{tmpl_var name='retry'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='expire_txt'}:</td>
    <td width="366" class="frmText11"><input name="expire" type="text" class="text" value="{tmpl_var name='expire'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='minimum_txt'}:</td>
    <td width="366" class="frmText11"><input name="minimum" type="text" class="text" value="{tmpl_var name='minimum'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='ttl_txt'}:</td>
    <td width="366" class="frmText11"><input name="ttl" type="text" class="text" value="{tmpl_var name='ttl'}" size="30" maxlength="255"></td>
  </tr>
  <tr>
    <td width="126" class="frmText11" valign="top">{tmpl_var name='active_txt'}:</td>
    <td width="366" class="frmText11">{tmpl_var name='active'}</td>
  </tr>
  <tr>
    <td width="126" class="frmText11">{tmpl_var name='xfer_txt'}:</td>
    <td width="366" class="frmText11"><input name="xfer" type="text" class="text" value="{tmpl_var name='xfer'}" size="30" maxlength="255"></td>
  </tr>  <tr>
    <td class="frmText11">&nbsp;</td>
    <td class="frmText11">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input name="btn_save" type="submit" class="button" value="{tmpl_var name='btn_save_txt'}">
      <input name="btn_cancel" type="button" class="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="self.location.href='soa_list.php';">
    </td>
  </tr>
</table>
<input type="hidden" name="id" value="{tmpl_var name='id'}">