<h2><tmpl_var name="page_head_txt"></h2>
<p><tmpl_var name="page_desc_txt"></p>

<div class="panel panel_tools_interface">

    <div class="pnl_formsarea">
        <fieldset class="inlineLabels">
            <h2 class="frmTextHead"></h2><p>ispconfig_tools_note</p>
            
            TEST
        </fieldset>
        
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
            
        <div class="buttonHolder buttons">
            &nbsp;
        </div>
    </div>
  
</div>