<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>ISPConfig 3</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!-- (en) Add your meta data here -->
<!-- (de) Fuegen Sie hier ihre Meta-Daten ein -->
<link href="themes/default/css/central.css" rel="stylesheet" type="text/css"/>
<!--[if lte IE 7]>
<link href="themes/default/css/patches/central.css" rel="stylesheet" type="text/css" />
<![endif]-->

<script type="text/javascript" src="js/yui/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="js/yui/connection/connection-min.js"></script>
<script type="text/javascript" src="js/scrigo.js.php"></script>
<!--script src="js/wforms.js"></script-->

</head>
<body onload="loadInitContent()">
<div id="page_margins">
	<div id="page">
		<div id="header">
			<div id="topsubnav">
				<!-- start: skip link navigation -->
				<a class="skip" href="#navigation" title="skip link">Skip to the navigation</a><span class="hideme">.</span>
				<a class="skip" href="#content" title="skip link">Skip to the content</a><span class="hideme">.</span>
				<!-- end: skip link navigation -->
				<span><a href="login/logout.php">Logout</a> | <a href="#" onclick="capp('help')">Help</a><!-- | <a href="#">Imprint</a>--></span>
      </div>
			<h1 id="ir-HeaderLogo" class="swap"><span>ISPConfig 3</span></h1>
			<span>hosting control panel</span>
    </div>
		<!-- begin: main navigation #nav -->
		<div id="nav"> <a id="navigation" name="navigation"></a>
			<!-- skiplink anchor: navigation -->
			<div id="nav_main">
        <div id="topNav">&nbsp;</div>
			</div>
		</div>
		<!-- end: main navigation -->
		<!-- begin: main content area #main -->
		<div id="main">
			<!-- begin: #col1 - first float column -->
			<div id="col1">
				<div id="col1_content" class="clearfix">
          <div id="sideNav">&nbsp;</div>
				</div>
			</div>
			<!-- end: #col1 -->
			<!-- begin: #col3 static column -->
			<div id="col3">
				<div id="col3_content" class="clearfix"> <a id="content" name="content"></a>
					<!-- skiplink anchor: Content -->
          <form method="post" action="" id="pageForm" name="pageForm" enctype="multipart/form-data"><div id="pageContent"><!-- AJAX CONTENT --></div></form>
        </div>
				<div id="ie_clearing">&nbsp;</div>
				<!-- End: IE Column Clearing -->
			</div>
			<!-- end: #col3 -->
		</div>
		<!-- end: #main -->
		<!-- begin: #footer -->
		<div id="footer">
      Powered by <a href="http://www.howtoforge.com/forums/showthread.php?t=26988" target="_blank">ISPConfig <tmpl_var name="ISPC_APP_VERSION"> beta</a></div>
    </div>
		<!-- end: #footer -->
	</div>
</body>
</html>
