	<table width="128" border="0" cellspacing="0" cellpadding="2">
      <tr>
        <td height="10">&nbsp;</td>
      </tr>
	  <tr><td align="center">
	  <tmpl_loop name="nav_left">
	  <table bgcolor="#F4F6FB" width="115">
      <tr>
        <td class="navLeftHead"><a href="#" onClick="loadContent('<tmpl_var name='startpage'>')"><tmpl_var name="title"></a></td>
        </tr>
      <tr>
        <td>
		  <tmpl_loop name="items">
		  <a href="#" class="navLeftItem" onClick="loadContent('<tmpl_var name='link'>')"><tmpl_var name="title"></a><br>
		  </tmpl_loop>
		</td>
      </tr>
	  </table>
	  <br />
	  </tmpl_loop>
	  </td></tr>
    </table>